.header-main-container{
    width: auto;
      height: 90px;
      background-color: #FFFFFF;
      border-bottom: 2px solid rgb(202, 202, 202);
      position: fixed;  /* Keeps it at the top */
      top: 90px;
      left: 100px;
      right: 0;
      z-index: 50;
  }

  .add-resident-main-header{
    background-color: #ffffff;
    border-bottom: 2px solid #ddd;
    padding-left: 140px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .path-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .path-section h1 {
    font-size: 1rem;
    font-weight: bold;
    color: #214666;
  }
  
  .path-section h2 {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(33, 70, 102, 0.6);
  }
  
  .breadcrumb {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .chevron {
    color: #2C3E50;
    margin-left: 10px;
  }

  .addresident-page-title-section-1{
    width: fit-content;
    background-color: #214666;
    border-radius: 6px;
    padding: 5px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .addresident-page-title-section-1 h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }