
.main-container-edit{
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  padding: 30px;
  margin-left: 2rem; 
  overflow-y: auto; 
 display: flex;
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
}

.letters-content-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  background-color: #f4f2f2;
  border: 2px solid  #ddd;
  border-radius: 1rem;
  margin-bottom: 2rem
}


.letter-announcement-btn-edit {
  background-color:#e56723;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.letter-announcement-btn-edit:hover {
  background-color:#cc591b;
}


.main-content-edit {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  border-radius: 1rem;
  border: 2px solid  #ddd;
  padding: 2rem;
  height: auto;
  margin: auto;
  background-color: #f4f2f2;
}

.section-1-edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #ddd;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.NewOfficial-edit {
  color: grey;
  font-size: 1.5rem;
  font-weight: bold;
}

.actions-edit {
  display: flex;
  gap: 0.5rem;
}


.action-view-edit,
.action-delete-edit {
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  font-size: 13px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.action-view-edit {
  background-color: #4caf50; /* Green */
  color: white;
}


.action-delete-edit {
  background-color: #f44336; /* Red */
  color: white;
}
.action-view-edit {
  background-color: #4caf50; /* Green */
  color: white;
}

.action-view-edit:hover {
  background-color: #3e8f41; /* Green */
}

.action-edit-edit:hover {
  background-color: #d58102; /* Orange */
}

.action-delete-edit {
  background-color: #f44336; /* Red */
  color: white;
}
.action-delete-edit:hover {
  background-color: #d73c31; /* Red */
}

.section-2-edit {
  display: flex;
  width: 100%;
}

.section-2-left-side-edit {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
}

.section-2-left-side-edit p {
 color: grey;
 font-weight: bold;
 font-size: 1rem;
 padding: 1rem;
}

.section-2-left-side-edit h1 {
  color: grey;
 font-weight: bold;
 font-size: 1.25rem;
 padding: 1rem;
}



.section-2-right-side-edit {
display: flex;
flex-direction: column;
width: 50%;
padding: 2rem;
}

.section-2-right-side-edit p {
color: grey;
font-weight: bold;
font-size: 1rem;
padding: 1rem;

}

.section-2-right-side-edit h1 {
  color: grey;
 font-weight: bold;
 font-size: 1.25rem;
 padding: 1rem;
}






/* Toggle switch container */
.active-edit {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}

/* Switch styles */
.switch-edit {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 30px;
}

.switch-edit input {
  display: none;
}

.slider-edit {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 10px;
}

.slider-edit:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(20px);
}


.status-text-edit {
  font-size: 20px;
  color: grey;
  font-weight: bold;
}



.search-bar-edit, .featuredStatus-edit{
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.featuredStatus-edit option {
  color: rgba(0, 0, 0, 0.4); 
}















.file-upload-container-edit {
  border: 2px dashed rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s ease;
  display: block;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  height: 75%; /* Set a fixed height for better UI experience */
  width: 80%;
  margin-top: 1rem;
  
}

.file-upload-container-edit:hover {
  background-color: rgba(245, 143, 88, 0.2);
}

.uploadedFiles-container-edit{
  display: block;
}

.file-upload-label-edit {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  
}

.upload-link-edit {
  color: rgb(245, 143, 88);
  text-decoration: underline;
  cursor: pointer;
}

.file-upload-input-edit {
  display: none;
}

.file-name-image-display-edit {
  margin-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.file-name-image-display-indiv-edit {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.filename-image-container-edit {
  display: flex;
  align-items: center;
  flex-grow: 1; 
  overflow: hidden; 
  margin-top:10px;
}

.file-name-image-display-indiv-edit li {
  display: flex;
  flex-grow: 1;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

.delete-container-edit {
  margin-left: auto; 
}

.delete-button-edit {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.delete-icon-edit {
  width: 20px;
  height: 20px;
}

.button-container-edit {
  display: flex;
  justify-content: center; 
  margin-top: 50px; 
}

.submit-button-edit {
  padding: 10px 20px;
  font-size: 16px;
  background-color:rgb(245, 143, 88);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
}

.submit-button-edit:hover {
  background-color: #e56723;
}

.form-group-button-container-edit {
  padding: 2rem;
}

.back-button-edit {
  background-image: url('/Images/left-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;

  width: 40px; 
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.back-button-edit:hover {
  transform: scale(1.1); 
  transition: transform 0.2s ease;
}

.plus-button-edit {
  background-image: url('/Images/plus.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px; 
  height: 25px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 1rem;
}

.plus-button-edit:hover {
  transform: scale(1.1); 
  transition: transform 0.2s ease;
}


.section-3-edit{ 
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.title-edit {
  margin-top: 2rem;
  color: grey;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 2.5rem;
}
.bars-edit {
  display: flex;
}



.input-group-edit {
  display: flex;
 flex-direction: column; /* Stack label above input */
 width: 100%;
 justify-content: space-between;
 padding-left: 1.5rem;

}


.input-group-edit p {
  color: grey;
  font-size: 1rem;
  padding: 1rem;
}


.section-4-edit {
display: flex;
flex-direction: column;
width: 100%;
}

.section-4-left-side-edit {
display: flex;
width: 50%;
padding: 2rem;

}

.section-4-right-side-edit {
display: flex;
flex-direction: column;
width: 50%;
justify-content: center;
align-items: center;
padding: 2rem;
}



.fields-section-edit{
display: flex;
flex-direction: column;
margin-top: 30px;
width: 100%;

}

.fields-section-edit p{
color: grey;
font-weight: bold;
font-size: 1rem;
padding: 1rem;
}

.dialouge-meeting-section-edit {
display: flex;
flex-direction: column;
align-self: center;
width: 90%;
border: 2px solid  #ddd;
padding-left: 5rem;
padding-right: 5rem;
padding-top: 5rem;
padding-bottom: 2rem;
height: auto;
margin: auto;
background-color: #f4f2f2;
margin-top: 2rem;
}

.title-section-edit {
display: flex;
width: 100%;
border-bottom: 2px solid #ddd;
padding-bottom: 1rem;
padding-top: 1rem;
}

.title-section-edit h1 {
  font-size: 17px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  margin: 0;
}

.section-2-dialouge-edit {
  color: grey;
  font-weight: bold;
  font-size: 1rem;
  
}


.section-2-dialouge-edit p {
  color: grey;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  
}

.section-3-dialouge-edit {
   color: grey;
  font-weight: bold;
  font-size: 1rem;
 
}
.section-4-dialouge-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  
}



.status-dropdown-edit {
  border-radius: 6px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 150px;
  padding: 14px 24px;
  font-size: 14px;
}

.pending {
  background-color: #d4d64f;
  color: white;
  font-size: 15px;
  
}

.resolved {
  background-color: #66c47a;
  color: white;
  
}

.settled {
  background-color: #1e5128;
  color: white;
  font-size: 15px;
}

.archived {
  background-color: #7f7f7f;
  color: white;
  font-size: 15px;
}

.hearing-section-edit {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  border: 2px solid  #ddd;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  height: auto;
  margin: auto;
  margin-top: 3rem;
  background-color: #f4f2f2;
}


@keyframes slideIn {
from {
  transform: translateX(100%);
  opacity: 0;
}
to {
  transform: translateX(0);
  opacity: 1;
}
}

@keyframes slideOut {
from {
  transform: translateX(0);
  opacity: 1;
}
to {
  transform: translateX(100%);
  opacity: 0;
}
}

.popup-overlay-edit {
position: fixed;
top: 13%;
right: -3px;
background: #777575;
color: white;
width: 350px;
height: 50px;
border-radius: 5px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
z-index: 1000;
text-align: center;
font-size: 16px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-left: 10px solid #403f3e;
}

.popup-edit{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}

.popup-overlay-edit.show {
animation: slideIn 0.5s ease-out;
}

.popup-overlay-edit.hide {
animation: slideOut 0.5s ease-out;
}


.confirmation-popup-overlay-edit {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.076); 
display: flex;
align-items: center;
justify-content: center;
z-index: 9999; 
}

.confirmation-popup-edit {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 200px;
width: 400px;
background-color: #f9f9f9;
border-radius: 20px;
border: 2px solid rgb(168, 161, 158);
box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
padding: 20px;
text-align: center;
font-size: 18px;
font-weight: lighter;
position: fixed;
left: 43%; /* Adjust the value */
}

.confirmation-popup-edit p{
color: rgb(97, 97, 97);
}

.yesno-container-edit{
display: flex;
gap: 20px;
}

.yes-button-edit,
.no-button-edit{
padding: 10px 20px;
font-size: 16px;
color: white;
border: none;
border-radius: 4px;
cursor: pointer; 
width: 150px;
box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
margin-top: 20px;
}

.yes-button-edit {
background-color: #4caf50; 
}

.yes-button-edit:hover {
background-color: #3d8c40; 
} 

.no-button-edit {
background-color: #f44336;
}

.no-button-edit:hover {
background-color:  #c2352b; 
}




.edit-incident-main-section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-incident-main-section1 h1 {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}


.edit-incident-main-section1-left {
  display: flex;
  align-items: center;
  gap: 20px;
}



.action-btn-section-edit-incident {
  display: flex;
  align-items: center;
  gap: 20px;
}




.action-view-edit,
.action-delete-edit,
.action-discard-edit {
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  width: 100px;
}

.action-view-edit {
    background-color: #4caf50; /* Green */
    color: white;
}


.action-delete-edit {
    background-color: #f44336; /* Red */
    color: white;
}


.action-view-edit:hover {
    background-color: #3e8f41; /* Green */
}

.action-edit-edit:hover {
    background-color: #d58102; /* Orange */
}

.action-delete-edit {
    background-color: #f44336; /* Red */
    color: white;
}
.action-delete-edit:hover {
    background-color: #d73c31; /* Red */
}

.action-discard-edit {
  background-color: #de3030;
  color: white;
}

.action-discard-edit:hover {
  background-color: #CA2D2D; 
}

.main-content-edit hr {
  border: none; 
  border-top: 2px solid rgba(0, 0, 0, 0.10);
  margin: 30px 0; 
}

.back-btn-edit{
  width: 25px;
  height: 25px;
  filter: grayscale(100%) brightness(0%) invert(50%);
}



.record-details-topsection {
  width: 100%;
  display: flex;
  margin-top: 5rem;
}

.record-details-topsection h1 {
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.record-details {
    display: flex;
    flex-direction:column;
    overflow: hidden;
    height: auto;
}




.record-details-plus-button {
  background-image: url('/Images/plus.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px; 
  height: 20px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 1rem;
  filter: grayscale(100%) brightness(0%) invert(50%);
}

.record-details-plus-button:hover {
  transform: scale(1.1); 
  transition: transform 0.2s ease;
}

.record-details-minus-button {
  background-image: url('/Images/minus-sign.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px; 
  height: 20px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 1rem;
  filter: grayscale(100%) brightness(0%) invert(50%);
}

.record-details-minus-button:hover {
  transform: scale(1.1); 
  transition: transform 0.2s ease;
}

.section-4-upper-edit {
  display: flex;
  width: 100%;
}

.section-4-lower-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2.5rem;
}

.section-4-lower-edit p {
  color: grey;
font-weight: bold;
font-size: 1rem;
padding: 1rem;
}



  
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.224); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it appears above all other elements */
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: #f7e5d5;
  border-radius: 20px;
  border: 2px solid rgb(168, 161, 158);
  box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.popup p{
  color: rgb(97, 97, 97);
}

.continue-button{
  padding: 10px 20px;
  font-size: 16px;
  background-color:rgb(245, 143, 88);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
  margin-top: 20px;
}

.continue-button:hover {
  background-color: #e56723;
}
