.main-container-hearing {
    width: 100%;
    height: 100%;
    background-color: #F0F2F8; 
    margin-left: 3rem; 
    padding-top: 11.2%;
    padding-bottom:30px;
}

.hearing-section-main-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 1rem;
    border: 2px solid rgba(36, 53, 76, 0.7);
    margin:  auto; 
    background-color: #ffffff;
    overflow: hidden; 
    height: 750px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hearing-section-main-section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #214666;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .hearing-section-main-section1 h1{
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
  }


.hearing-section-main-section-1-left {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
}

.back-btn-hearing{
    width: 25px;
    height: 25px;
    filter: invert(1);
  }


.action-btn-section-hearing{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
  }

  .action-view-button{
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  font-size: 13px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.action-view-button {
  background-color: #4caf50; /* Green */
  color: white;
}
  