
.main-container-letter{
     width: 100%;
  height: auto;
  background-color: #F0F2F8; 
  margin-left: 3rem; 
  /*padding-top: 150px;*/
  padding-top: 11.2%;
  padding-left:30px;
padding-right:30px;
padding-bottom:30px;
}

.main-content-title-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-title-section-1{
   background-color: #1f3b57;
  border-radius: 10px;
  z-index: 10;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  width: 30%;
  padding: 1.5rem;
  font-size: 25px;
  font-weight: bold;
}


.main-content-letter {
   display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 1rem;
  border: 2px solid rgba(36, 53, 76, 0.7);
  margin:  auto; 
  background-color: #ffffff;
  overflow: hidden; 
  height: 650px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  overflow-y: auto;
}

.main-content-letter hr {
   border: none; 
  border-top: 2px solid rgba(0, 0, 0, 0.10);
  margin: 30px 0; 
}

.section-1-letter {
     display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #214666;
  padding-top: 20px;
  padding-bottom: 20px;
}


.back-btn-letter{
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.section-left-side-letter {
    display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.section-left-side-letter h1{
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}

.section-2-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  height: auto;
}

.section-2-information-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
}

.fields-section-letter {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}
.fields-section-letter p{
  font-size: 15px;
  color: #2C3E50;
  font-weight: bold;
  align-self: flex-start; /* Left-aligns the label */
  margin-left: 8%;
}

.fields-section-letter input,select {
  align-self: center; 
}

.generate-letter-input-field {
  padding: 8px;
  width: 85%;
  margin-top: 10px;
  border: 1px solid rgba(36, 53, 76, 0.7);
  border-radius: 5px;
  color: #000000;
  text-align: left;
}


.generate-letter-input-field:focus {
  border-color: #f49028;
  outline: none;
  box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
}

.section-2-information-top {
  display: flex;
  width: 100%;
}
.section-2-information-bottom {
  display: flex;
  width: 100%;
}

.section-title-letter {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2C3E50;
  width: 100%;
  text-align: left;
  padding-left: 2.0rem;
}










.NewOfficial {
    color: grey;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.actions {
    display: flex;
    gap: 0.5rem;
}


.action-view,
.action-delete {
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 13px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.action-view {
    background-color: #4caf50; /* Green */
    color: white;
}


.action-delete {
    background-color: #f44336; /* Red */
    color: white;
}
.action-view {
    background-color: #4caf50; /* Green */
    color: white;
}

.action-view:hover {
    background-color: #3e8f41; /* Green */
}

.action-edit:hover {
    background-color: #d58102; /* Orange */
}

.action-delete {
    background-color: #f44336; /* Red */
    color: white;
}
.action-delete:hover {
    background-color: #d73c31; /* Red */
}





/* Toggle switch container */
.active {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem;
  }
  
  /* Switch styles */
  .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 10px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 6px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  
  .status-text {
    font-size: 20px;
    color: grey;
    font-weight: bold;
  }

  .search-bar, .featuredStatus{
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .featuredStatus option {
    color: rgba(0, 0, 0, 0.4); 
  }



  









  .file-upload-container {
    border: 2px dashed rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease;
    display: block;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    height: 60%; /* Set a fixed height for better UI experience */
    width: 80%;
    
  }

  .file-upload-container:hover {
    background-color: rgba(245, 143, 88, 0.2);
  }

  .uploadedFiles-container{
    display: block;
  }

  .file-upload-label {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    
  }

  .upload-link {
    color: rgb(245, 143, 88);
    text-decoration: underline;
    cursor: pointer;
  }

  .file-upload-input {
    display: none;
  }

  .file-name-image-display {
    margin-top: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  .file-name-image-display-indiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .filename-image-container {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    overflow: hidden; 
    margin-top:10px;
  }

  .file-name-image-display-indiv li {
    display: flex;
    flex-grow: 1;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }

  .delete-container {
    margin-left: auto; 
  }

  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .delete-icon {
    width: 20px;
    height: 20px;
  }

  .button-container {
    display: flex;
    justify-content: center; 
    margin-top: 50px; 
  }

  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color:rgb(245, 143, 88);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
  }

  .submit-button:hover {
    background-color: #e56723;
  }

  .form-group-button-container {
    padding: 2rem;
  }
  
  .back-button {
    background-image: url('/Images/left-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
  
    width: 40px; 
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .back-button:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
  }
  
  .section-3{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
  }

  .title {
    margin-bottom: 1rem;
    color: grey;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 2.5rem;
  }
.bars {
    display: flex;
    padding: 1rem;
}

.input-group {
    display: flex;
   flex-direction: column; /* Stack label above input */
   width: 100%;
   justify-content: space-between;
   padding-left: 1.5rem;
 
}


.input-group p {
    margin: 0 0 5px 0; /* Add space between label and input */
    font-weight: bold;
    color: grey;
}


.section-4 {
  display: flex;
  width: 100%;
}

.section-4-left-side {
  display: flex;
  width: 50%;
  padding: 2rem;

}

.section-4-right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}



.fields-section{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  
}

.fields-section p{
  color: grey;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}


.letter-announcement-btn {
    background-color:#e56723;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
  }
  
  .letter-announcement-btn:hover {
    background-color:#cc591b;
  }



  
  
  
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.224); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it appears above all other elements */
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: #f7e5d5;
  border-radius: 20px;
  border: 2px solid rgb(168, 161, 158);
  box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.popup p{
  color: rgb(97, 97, 97);
}

.continue-button{
  padding: 10px 20px;
  font-size: 16px;
  background-color:rgb(245, 143, 88);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
  margin-top: 20px;
}

.continue-button:hover {
  background-color: #e56723;
}