

.main-container{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    padding:30px;
    margin-left: 2rem; 
    overflow-y: auto; 
}


 .main-section {
    flex: 1; /* Makes it take up remaining space */
    display: flex; /* Ensures proper alignment */
    flex-direction: column;
    padding: 0;
    margin: 0; /* Remove default margin */
    overflow: auto; /* Allow scrolling if content overflows */
    width: 100%;
    height: 100%; /* Full height */
    margin-top: 2rem;
    max-height: 70%;
    border: 2px solid  #ddd;
}

.main-section table {
    width: 100%; /* Ensures the table spans the full width */
    border-collapse: collapse; /* Removes unnecessary spacing between table cells */
}

.main-section td {
    padding: 1rem; 
    text-align: center; 
    border-bottom: 2px solid #ddd;
    color: grey;
    font-weight: lighter;
}

.main-section th {
    padding: 1rem; 
    text-align: left; 
    border-bottom: 2px solid #ddd;
    color: grey;
    text-align: center;
    
}

.main-section .official-info {
    display: flex;
    align-items: center; /* Center align the image and text */
    gap: 1rem; /* Add space between the image and text */
}

.main-section .official-image {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image is properly scaled */
}

.actions {
    display: flex;
    gap: 0.5rem; /* Space between action buttons */
    justify-content: center;
}

.action-notify,
.action-edit,
.action-delete {
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 5px;
    transition: background-color 0.2s ease;

}

.action-notify {
    background-color: #4caf50; 
    color: white;
}

.action-notify:hover {
    background-color: #3e8f41;
}

.action-edit {
    background-color: #ff9800;
    color: white;
}
.action-edit:hover {
    background-color: #d58102; 
}

.action-delete {
    background-color: #f44336; 
    color: white;
}
.action-delete:hover {
    background-color: #d73c31; 
}

.section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.section-1 h1{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
   
}

.add-announcement-btn {
    background-color:#e56723;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-announcement-btn:hover {
    background-color:#cc591b;
  }

  .section-2{
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 25px;
  }

  .search-bar, .featuredStatus{
    padding: 8px;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .featuredStatus option {
    color: rgba(0, 0, 0, 0.4); 
  }

  
 
.status-badge {
padding: 8px 12px;            
border-radius: 5px;          
font-size: 13px;              
color: white;                
display: inline-block;        
text-transform: capitalize;   
text-align: center;    
width: 100px; 
}

.status-badge.acknowledged {
    background-color: #4caf50;   
}

.status-badge.pending {
    background-color: #325bd4;  
}



/*

FOR ONLINE INCIDENT REPORTING CSS

*/
.main-content-view-online-report {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    border-radius: 1rem;
    border: 2px solid  #ddd;
    height: auto;
    margin:  auto; 
}
.section-1-online-report {
    display: flex;
    border-bottom: 2px solid #ddd;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
}


.section-1-online-report p {
    font-weight: bold;
    color: grey;
    margin-left: 1rem;
    font-size: 1.25rem;
}

.section-1-online-report-left-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-1-online-report-left-side h1 {
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    
}

.action-btn-section-online-report {
    display: flex;
    align-items: center;
    gap: 20px;
}

.back-button {
    background-image: url('/Images/left-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px; 
    height: 30px;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .back-button:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
  }

  .online-report-details-section{
    display: flex;
    border-bottom: 2px solid #ddd;
  }

  .title-section {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-section p {
    font-weight: bold;
    color: grey;
    font-size: 1rem;
  }

  .description-section {
    padding: 2rem;
    width: 80%;
  }

  .description-section p {
    color: grey;
    font-size: 1rem;
  }

  .detail-section-image {
    width: 200px;
  }


  .save-btn-online-report {   
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    width: 100px;
    background-color: #4caf50;
    color: white;
}
.save-btn-online-report:hover {
    background-color: #3e8f41; 
}
  





.main-content-response-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    border-radius: 1rem;
    border: 2px solid  #ddd;
    height: auto;
    margin:  auto; 
    margin-top: 2rem;

}

.section-1-response {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.official-section-online-report {
    width: 90%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.official-section-online-report {
    color: grey;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
}

.fields-section-online-report {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

.fields-section-online-report p{
    color: grey;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
}

 .online-report-input-field{
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .online-report-input-field option {
    color: rgba(0, 0, 0, 0.4); 
  }

  .title-response-section {
    font-weight: bold;
    padding: 2rem;
    font-size: 20px;
    color: grey;
  }

  .submit-response-section {
    padding: 1.5rem;
    align-self: center;
  }



  .save-btn-online-report-response-section {   
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    width: 250px;
    background-color: #4caf50;
    color: white;
}
.save-btn-online-repor-response-sectiont:hover {
    background-color: #3e8f41; 
}







  
