.main-container-view {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  padding: 30px;
  margin-left: 2rem; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-content-view {
display: flex;
flex-direction: column;
align-self: center;
width: 90%;
border-radius: 1rem;
border: 2px solid  #ddd;
margin-top: 3rem; 
}


.back-button-view {
    background-image: url('/Images/left-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px; 
    height: 30px;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .back-button-view:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
  }

  .section-1-view {
    display: flex;
    border-bottom: 2px solid #ddd;
    width: 100%;
    padding: 2rem;
  }

  .section-1-view p {
    font-weight: bold;
    color: grey;
    margin-left: 1rem;
    font-size: 1.25rem;
    
  }

  .details-section-view {
    display: flex;
    border-bottom: 2px solid #ddd;
  }

  .title-view {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-view p {
    font-weight: bold;
    color: grey;
    font-size: 1rem;
  }

  .description-view {
    padding: 2rem;
    width: 80%;
  }

  .description-view p {

    color: grey;
    font-size: 1rem;
  }



  
  .pending {
    background-color: #d4d64f;
    color: white;
    font-size: 15px;
    
  }
  
  .resolved {
    background-color: #66c47a;
    color: white;
    
  }
  
  .settled {
    background-color: #1e5128;
    color: white;
    font-size: 15px;
  }
  
  .archived {
    background-color: #7f7f7f;
    color: white;
    font-size: 15px;
  }

  .status-badge-view {
    padding: 10px 14px;            
    border-radius: 5px;          
    font-size: 15px;              
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    
    width: 200px;     
    margin-top: 1rem;  
}

.status-section-view {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
  margin-top: 1rem; 
  padding-right: 5rem;
}

