.main-container-view {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  padding: 30px;
  margin-left: 2rem; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-content-view {
display: flex;
flex-direction: column;
align-self: center;
width: 90%;
border-radius: 1rem;
border: 2px solid  #ddd;
margin-top: 3rem; 
}


.back-button-view {
    background-image: url('/Images/left-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px; 
    height: 30px;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .back-button-view:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
  }

  .section-1-view {
    display: flex;
    border-bottom: 2px solid #ddd;
    width: 100%;
    padding: 2rem;
    align-items: center;
  justify-content: space-between;
  background-color: #dddbdb95;
  border-bottom: 2px solid #ddd;
  }

  .section-1-view h1 {
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
  }

  .details-section-1-incident  {
    font-weight: bold;
    color: grey;
    margin-left: 1rem;
    font-size: 1.25rem; 
    max-width: 50%;
  }

  .details-section-view {
    display: flex;
    border-top: 2px solid #ddd;
  }

  .title-view {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ddd;
    background: #dddbdb33;
  }

  .title-view p {
    font-weight: bold;
    color: grey;
    font-size: 1rem;
  }

  .description-view {
    padding: 2rem;
    width: 80%;
  }

  .description-view p {

    color: grey;
    font-size: 1rem;
  }



  
  .pending {
    background-color: #d4d64f;
    color: white;

    
  }
  
  .resolved {
    background-color: #66c47a;
    color: white;
    
  }
  
  .settled {
    background-color: #1e5128;
    color: white;

  }
  
  .archived {
    background-color: #5d74e8ee;
    color: white;
 
  }

.status-badge-view {
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    

    border: none;
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    width: 100px;
}

.status-section-view {
  display: flex;
  align-items: center;
  gap: 20px;
}

.viewincident-content-section1-left-view {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.viewincident-content-section1-left-view h1 {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}



