.editbrgyacc-main-container{
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  padding: 30px;
  margin-left: 3rem; 
  overflow-y: auto; 
}

.editbrgyacc-page-title-section-1{
  width: 100%;
}

.editbrgyacc-page-title-section-1 h1{
  font-size: 2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.editbrgyacc-main-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 95%;
  border-radius: 1rem;
  border: 2px solid  #ddd;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin:  auto; 
  background-color: #f4f2f2;
  margin-top: 20px; 
}

.editbrgyacc-main-content hr{
  border: none; 
  border-top: 2px solid rgba(0, 0, 0, 0.10);
  margin: 30px 0; 
}

.editbrgyacc-main-section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editbrgyacc-main-section1-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.editbrgyacc-main-section1-left h1{
  font-size: 1.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}


.back-btn{
    width: 25px;
    height: 25px;
    filter: grayscale(100%) brightness(0%) invert(50%);
}


.action-btn-section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.discard-btn,
.save-btn {   
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    width: 100px;
}

.discard-btn {
    background-color: #de3030;
    color: white;
}

.discard-btn:hover {
    background-color: #CA2D2D; 
}

.save-btn {
    background-color: #4caf50;
    color: white;
}
.save-btn:hover {
    background-color: #3e8f41; 
}

.editbrgyacc-main-fields-container{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
}

.editbrgyacc-main-fields-container h1{
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

.editbrgyacc-main-fields-container-section1{
    display: flex;
    gap: 50px;
    padding: 30px;
  
}

.editbrgyacc-main-fields-container-section2{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.editbrgyacc-fields-container{
    display: flex;
    flex-direction: column;
    /*gap: 20px;
    margin: 30px;*/
}

.editbrgyacc-fields-section{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.editbrgyacc-fields-section p{
    font-size: 15px;
    color: grey;
    font-weight: bold;
}

.editbrgyacc-section-left{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.editbrgyacc-section-right{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.editbrgyacc-input-field{
    padding: 8px;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);

}

.editbrgyacc-input-field-dropdown{
  padding: 8px;
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  height: 41px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.4);
}

.editbrgyacc-input-field:disabled {
    background-color: white;
    color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}


.record-details-section{
    margin-top: 80px;
    display: flex;
    flex-direction:column;
    margin-bottom: 10px;
}

.password-details-section{
    margin-top: 70px;
    display: flex;
    flex-direction:column;
}

.toggle-password-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.toggle-password-btn svg {
    vertical-align: middle;
}

.toggle-password-btn:hover {
    opacity: 0.7;
}

@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

.popup-overlay,
.error-popup-overlay {
    position: fixed;
    top: 13%;
    right: -3px;
    background: #777575;
    color: white;
    width: 420px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 10px solid #403f3e;
  }

  .popup-overlay{
    background: #777575;
    border-left: 10px solid #403f3e;
  }

  .error-popup-overlay{
    background: #cc3434;
    border-left: 10px solid #8a0f0f;
  }

  .popup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .popup-overlay.show,
  .error-popup-overlay.show  {
    animation: slideIn 0.5s ease-out;
  }
  
  .popup-overlay.hide,
  .error-popup-overlay.hide  {
    animation: slideOut 0.5s ease-out;
  }


.confirmation-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.076); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
  }
  
  .confirmation-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 2px solid rgb(168, 161, 158);
    box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    position: fixed;
    left: 43%; /* Adjust the value */
  }
  
  .confirmation-popup p{
    color: rgb(97, 97, 97);
  }
  
  .yesno-container{
    display: flex;
    gap: 20px;
  }
  
  .yes-button,
  .no-button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
    margin-top: 20px;
  }
  
  .yes-button {
    background-color: #4caf50; 
  }

  .yes-button:hover {
    background-color: #3d8c40; 
  } 

  .no-button {
    background-color: #f44336;
  }

  .no-button:hover {
    background-color:  #c2352b; 
  } 


  .record-details-plus-button {
    background-image: url('/Images/plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px; 
    height: 20px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 1rem;
    filter: grayscale(100%) brightness(0%) invert(50%);
  }
  
  .record-details-plus-button:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
  }

  .record-details-minus-button {
    background-image: url('/Images/minus-sign.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px; 
    height: 20px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 1rem;
    filter: grayscale(100%) brightness(0%) invert(50%);
  }

  .record-details-minus-button:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
  }


  .record-details-topsection,
  .password-details-topsection {
    width: 100%;
    display: flex;
  }

  .record-details-topsection h1,
  .password-details-topsection h1{
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);

    margin: 0;
}

.password-details-topsection hr{
  width: 100%;
}

.record-details,
.password-details {
    display: flex;
    flex-direction:column;
    overflow: hidden;
    height: auto;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}




.popup-overlay-add,
.error-popup-overlay-add{
    position: fixed;
    top: 13%;
    right: -3px;
    color: white;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .popup-overlay-add{
    background: #8fa98d;
    border-left: 10px solid #403f3e;
  }

  .error-popup-overlay-add{
    background: #cc3434;
    border-left: 10px solid #8a0f0f;
  }

.popup-add{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.popup-overlay-add.show,
.error-popup-overlay-add.show {
  animation: slideIn 0.5s ease-out;
}

.popup-overlay-add.hide,
.error-popup-overlay-add.hide {
  animation: slideOut 0.5s ease-out;
}


.confirmation-popup-overlay-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.076); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.confirmation-popup-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: #f9f9f9;
  border-radius: 20px;
  border: 2px solid rgb(168, 161, 158);
  box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  position: fixed;
  left: 43%; /* Adjust the value */
}

.confirmation-popup-add p{
  color: rgb(97, 97, 97);
}

.yesno-container-add{
  display: flex;
  gap: 20px;
}

.yes-button-add,
.no-button-add{
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
  margin-top: 20px;
}

.yes-button-add {
  background-color: #4caf50; 
}

.yes-button-add:hover {
  background-color: #3d8c40; 
} 

.no-button-add {
  background-color: #f44336;
}

.no-button-add:hover {
  background-color:  #c2352b; 
} 

.successful-icon-popup {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.icon-alert {
  width: 27px;
  height: 27px;
}
