


/*
new
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
/*




/* NEW UPDATED */
  .barangayusers-page-main-container,
  .residentusers-page-main-container,
  .pendingresidentusers-page-main-container{
  width: 100%;  
  height: 100vh;
  background-color: #F0F2F8; 
  margin-left: 1rem;

  
  padding-left: 20px; /* edited */
  padding-right: 20px; /* edited */

    padding-top: 14.2%;
  padding-bottom: 3%;
}


/* NEW UPDATED */
.barangayusers-page-section-2,
.residentusers-page-section-2,
.pendingresidentusers-page-section-2{
  display: flex;
  gap: 20px;
  padding: 0;
  
  margin-top: 10px; /* edited this line */ /* 10px kapag may redirection section buttons sa taas ng filters*/
}

/* NEW UPDATED */
.barangayusers-page-filter,
.residentusers-page-filter,
.pendingresidentusers-page-filter{
  padding: 8px;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    border: 1px solid rgba(36, 53, 76, 0.7);
    border-radius: 5px;
    color: #000000;
    text-align: left;


    font-size: 15px; /* added this line */
    height: 35px; /* added this line */
}

.barangayusers-page-filter:focus,
.residentusers-page-filter:focus,
.pendingresidentusers-page-filter:focus {
  border-color: #f49028;
  outline: none;
  box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
}

.barangayusers-page-filter option,
.residentusers-page-filter option,
.pendingresidentusers-page-filter option  {
  color: rgba(0, 0, 0, 0.4); 
}


/* NEW UPDATED */
.barangayusers-page-main-section,
.residentusers-page-main-section,
.pendingresidentusers-page-main-section {
  flex: 1; /* Makes it take up remaining space */
    display: flex; /* Ensures proper alignment */
    flex-direction: column;
    padding: 0;
    margin: 0; /* Remove default margin */
    overflow: auto; /* Allow scrolling if content overflows */
    width: 100%;
    
    max-height: 70%;
    border: 1px solid rgba(36, 53, 76, 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-radius: 6px;
    scrollbar-width: thin;
    scrollbar-color:rgba(36, 53, 76, 0.7) transparent; 


    margin-top: 2rem; /* edited this line */
    height: 67%; /* edited this line */
}


.barangayusers-page-main-section table,
.residentusers-page-main-section table,
.pendingresidentusers-page-main-section table {
  width: 100%; 
  border-collapse: collapse; 
}

.barangayusers-page-main-section tbody tr:hover,
.residentusers-page-main-section tbody tr:hover,
.pendingresidentusers-page-main-section tbody tr:hover {
  background-color: #e0e0e0; 
  transition: background-color 0.2s ease; 
}

.barangayusers-page-main-section td,
.residentusers-page-main-section td,
.pendingresidentusers-page-main-section td {
  padding: 1rem; 
  text-align: center; 
  border-bottom: 2px solid #ddd;
  color: rgb(44, 42, 42);
  font-weight: normal;

  font-size: 14px; /* added this line */
}

/* NEW UPDATED */
.barangayusers-page-main-section th,
.residentusers-page-main-section th,
.pendingresidentusers-page-main-section th {
  padding: 1rem; 
  text-align: left; 
  border-bottom: 2px solid #ddd;
  color: #FFFFFF;
  text-align: center;
    
  font-size: 14px; /* added this line */
}

/* NEW UPDATED */
.barangayusers-page-main-section thead,
.residentusers-page-main-section thead,
.pendingresidentusers-page-main-section thead {
  position: sticky;
  top: 0;
  background-color: #214666;
  z-index: 10; 
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 
  
  height: 50px; /* edited this line */
}




/*
Newly added for tables
*/

.barangayusers-page-main-section tbody tr:nth-child(even),
.residentusers-page-main-section tbody tr:nth-child(even){
  background-color: #f0f4f8; /* Softer modern gray-blue tone */
}

.barangayusers-page-main-section tbody tr:nth-child(odd),
.residentusers-page-main-section tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Crisp white */
}


.barangayusers-page-main-section tbody tr:hover,
.residentusers-page-main-section tbody tr:hover { 
   background-color: #d0e4f5 !important; 
  transition: background-color 0.2s ease;
}







.highlight-new-request {
  background-color: #d6f8c0 !important; 
  transition: background-color 0.3s ease;
}


.highlight-new-request:hover {
  background-color: #b4eba1 !important; 
}


.main-section-online-reports tbody tr:not(.highlight-new-request):hover {
  background-color: #d0e4f5 !important;
  cursor: pointer;
  transition: background-color 0.2s ease;
}





/*
SCROLL FOR CHROME ETC
*/

.barangayusers-page-main-section::-webkit-scrollbar,
.residentusers-page-main-section::-webkit-scrollbar{
  width: 8px;
}

.barangayusers-page-main-section::-webkit-scrollbar-track,
.residentusers-page-main-section::-webkit-scrollbar-track {
  background: transparent; 
}

.barangayusers-page-main-section::-webkit-scrollbar-thumb,
.residentusers-page-main-section::-webkit-scrollbar-thumb {
  background-color: rgba(96, 165, 250, 0.5); 
  border-radius: 8px;
  border: 2px solid transparent; 
  background-clip: content-box;  
}

.barangayusers-page-main-section::-webkit-scrollbar-thumb:hover,
.residentusers-page-main-section::-webkit-scrollbar-thumb {
  background-color: rgba(59, 130, 246, 0.7);
}







.user-roles-module-main-container{
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  padding:30px;
  margin-left: 1rem;
  overflow-y: auto; 
}

.user-roles-module-section-1{
 display: flex;
    justify-content: flex-end; 
    width: 100%;
    gap: 1rem; 
}

.user-roles-module-section-1 h1{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.user-roles-main-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.resident-users,
.barangay-users{
    width: 99%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.10);
    background-color: #f9f9f9;
    display: flex;
    flex-direction:column;
    margin-top: 20px;
    overflow: hidden;
    height: auto;
}

.resident-users-topsection,
.barangay-users-topsection{
  background: #dddbdb95;
  width: 100%;
  padding: 2rem;
  display: flex;
}

.resident-users-topsection h1{
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.resident-users hr{
    border: none; 
    border-top: 2px solid rgba(0, 0, 0, 0.10);
    margin: 30px 0 0 0;
}


.resident-users-main-section,
.barangay-users-main-section{
    /*flex: 1; /* Makes it take up remaining space */
    /*display: flex; /* Ensures proper alignment */
    flex-direction: column;
    padding: 0;
    margin: 0;
    /*overflow: auto; /* Allow scrolling if content overflows */
    width: 95%;
    height: 400px; /* Full height */
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    overflow-y: scroll;
    border: 1px solid #aaaaad;
}

.resident-users-main-section table{
    width: 100%;
    border-collapse: collapse; 
}


/* NEW UPDATED */
.resident-users-main-section thead {
    position: sticky;
    top: 0;
    background-color: #214666; /* Ensures it's visible when scrolled */
    z-index: 10; /* Ensures it stays above other content */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); /* Simulates a fixed border */
    
    height: 50px; /* edited this line */
}

.resident-users-main-section th{
  padding: 1rem; 
  text-align: left; 
  border-bottom: 2px solid #ddd;
  color: #FFFFFF;
  text-align: center;
    
  font-size: 14px; /* added this line */
}

/* NEW UPDATED */
.resident-users-main-section td{
  padding: 1rem; 
  text-align: center; 
  border-bottom: 2px solid #ddd;
  color: rgb(44, 42, 42);
  font-weight: normal;
  
  font-size: 14px; /* added this line */
}

/* NEW UPDATED ADDED THIS */
.barangayusers-page-main-section tbody tr {
  height: 50px; 
}

.resident-users-main-section tbody tr:hover {
  background-color: #e0e0e0; 
  transition: background-color 0.2s ease; 
}


.barangay-users h1{
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.barangay-users hr{
    border: none; 
    border-top: 2px solid rgba(0, 0, 0, 0.10);
    margin: 30px 0 0 0;
}


.barangay-users-main-section table{
    width: 100%;
    border-collapse: collapse;
    
}

/* NEW UPDATED */
.barangay-users-main-section thead {
    position: sticky;
    top: 0;
    background-color: #214666; /* Ensures it's visible when scrolled */
    z-index: 10; /* Ensures it stays above other content */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); /* Simulates a fixed border */
    height: 50px; /* edited this line */
}

/* NEW UPDATED */
.barangay-users-main-section th{
    padding: 1rem; 
    text-align: left; 
    border-bottom: 2px solid #ddd;
    color: #FFFFFF;
    text-align: center;

    font-size: 14px; /* added this line */
}

/* NEW UPDATED */
.barangay-users-main-section td{
    padding: 1rem; 
    text-align: center; 
    border-bottom: 2px solid #ddd;
    color: rgb(44, 42, 42);
    font-weight: normal;
    
    font-size: 14px; /* added this line */
}

.barangay-users-main-section tbody tr:hover {
  background-color: #e0e0e0; 
  transition: background-color 0.2s ease; 
}


.admin-actions {
  display: flex;
  gap: 0.5rem; /* Space between action buttons */
  justify-content: center;
}

.admin-action-accept,
.admin-action-reject,
.admin-generateUserID,
.createNewBarangayUser {   
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

/* NEW UPDATED */
.admin-action-view, .admin-action-edit, .admin-action-delete {
  border: none;
  cursor: pointer;


  width: 20px;  /* edited this line */
  height: 20px; /* edited this line */
  transition: transform 0.2s ease, filter 0.2s ease;

}

/* NEW UPDATED ADDED */
.admin-action-view:hover,
.admin-action-edit:hover,
.admin-action-delete:hover {
  transform: scale(1.2); /* Slight zoom-in */
  filter: brightness(1.3); /* Make icon a bit brighter */
}

.admin-action-view img {
 filter: brightness(0) saturate(100%) invert(38%) sepia(78%) saturate(374%) hue-rotate(81deg) brightness(91%) contrast(92%);
}


.admin-action-edit img {
filter: brightness(0) saturate(100%) invert(27%) sepia(99%) saturate(1972%) hue-rotate(189deg) brightness(91%) contrast(101%);
}

.admin-action-delete img {
   filter: brightness(0) saturate(100%) invert(19%) sepia(93%) saturate(7490%) hue-rotate(357deg) brightness(96%) contrast(107%);
}


.admin-action-accept{
  background-color: #ff9800; /* Orange */
  color: white;
}



.admin-action-accept:hover{
    background-color: #d58102; /* Orange */
}

.admin-action-reject {
    background-color: #f44336; /* Red */
    color: white;
}
.admin-action-reject:hover{
    background-color: #d73c31; /* Red */
}


.generateUserID,
.createNewBarangayUser{
    background-color:#e56723; /* Orange */
    color: white;
}
.generateUserID:hover,
.createNewBarangayUser:hover{
    background-color:#cc591b; /* Orange */
}


.userID,
.role,
.password{
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.userID:disabled {
    background-color: white; /* or match the other input fields */
    color: rgba(0, 0, 0, 0.4);
    opacity: 1; /* Override the default lower opacity */
}

.fields-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.fields-section{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.fields-section label{
    font-size: 15px;
    color: grey;
    font-weight: bold;
}


@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

.user-roles-popup-overlay {
    position: fixed;
    top: 13%;
    right: -3px;
    background: #777575;
    color: white;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 10px solid #403f3e;
  }

  .user-roles-popup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .user-roles-popup-overlay.show {
    animation: slideIn 0.5s ease-out;
  }
  
  .user-roles-popup-overlay.hide {
    animation: slideOut 0.5s ease-out;
  }


  .user-roles-confirmation-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
  }

  .barangayusers-confirmation-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 470px;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 2px solid rgb(168, 161, 158);
    box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    position: fixed;
  }
  
  .user-roles-confirmation-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 2px solid rgb(168, 161, 158);
    box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    position: fixed;
    left: 43%; /* Adjust the value */
  }
  
  .user-roles-confirmation-popup p,
  .barangayusers-confirmation-popup p{
    color: rgb(97, 97, 97);
  }

  .user-roles-confirmation-popup h2,
  .barangayusers-confirmation-popup h2{
    margin-top: 10px;
    color: #f44336;
    font-size: 15px;
  }
  
  .user-roles-yesno-container{
    display: flex;
    gap: 20px;
  }
  
  .user-roles-yes-button,
  .user-roles-no-button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
    margin-top: 20px;
  }
  
  .user-roles-yes-button {
    background-color: #4caf50; 
  }

  .user-roles-yes-button:hover {
    background-color: #3d8c40; 
  } 

  .user-roles-no-button {
    background-color: #f44336;
  }

  .user-roles-no-button:hover {
    background-color:  #c2352b; 
  } 


  .user-role-plus-button {
    background-image: url('/Images/plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px; 
    height: 20px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 1rem;
    filter: grayscale(100%) brightness(0%) invert(50%);
  }
  
  .user-role-plus-button:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
  }

  .user-role-minus-button {
    background-image: url('/Images/minus-sign.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px; 
    height: 20px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 1rem;
    filter: grayscale(100%) brightness(0%) invert(50%);
  }

  .user-role-minus-button:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
  }

  /* NEW UPDATED */
  .add-announcement-btn {
    background-color: #e56723;
  color: #fff;
  border: none;
  padding: 10px 22px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s ease, transform 0.2s ease;

  font-size: 13px; /* edited this line */
  }
  
  .add-announcement-btn:hover {
    background-color:#cc591b;
  }


  /* NEW UPDATED */
  .status-badge {
    border-radius: 5px;                     
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    
    
    width: 80px; /* edited this line */
    padding: 5px 10px;   /* edited this line */    
}

.status-badge p{
  font-size: 13px;
}

.status-badge.unverified {
  background-color: #ffd700;    
}

.status-badge.verified {
  background-color: #2a7db0;    
}

.status-badge.rejected {
  background-color: #f73333;    
}

.status-badge.resubmission {
  background-color: #e47f22;    
}

.highlighted-row {
  background-color: #bdf8a0ba !important;
  transition: background-color 0.5s ease;
}


.successful-icon-popup {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.icon-alert {
  width: 27px;
  height: 27px;
}



/* PAGINATION CSS*/

/* NEW UPDATED */
.redirection-section-users {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 6px;
  gap: 5px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;

  border: 1px solid rgba(36, 53, 76, 0.7); /* edited this line */
} 

/* NEW UPDATED */
.redirection-section-users button {
  border: none;
  background-color: #2C3E50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;

  padding: 2px 7px; /* edited this line */
  font-size: 13px;
}

.redirection-section-users button:hover {
 background-color: #214666;
}

.redirection-section-users button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.redirection-section-users .active {
background-color: #214666;
    font-weight: bold;
}





 /* NEW UPDATED */
.no-result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: 2px solid #f3c3bf;
  border-radius: 1rem;
  background-color: #fff;
  margin-top: 5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.03);
  align-self: center;

    /* Entrance animation */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

  height: 150px; /* edited this line */
  margin-top: 11rem; /* edited this line */
  width: 400px; /* edited this line */
}

 /* NEW UPDATED */
.no-result-card:hover {
  transform: translateY(-4px);
box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
}

 /* NEW UPDATED */
.no-result-card:hover .no-result-icon {
  transform: scale(1.05);
  opacity: 0.85;  
}

 /* NEW UPDATED */
.no-result-icon {
  width: 46px;
  height: 46px;
  margin-bottom: 0.5rem;
  opacity: 0.75;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
 /* NEW UPDATED */
.no-results-department {
  font-weight: bold;
  font-size: 1.25rem;
  color: #e7594e;
}

 /* NEW UPDATED */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/*
UPDATE
*/


.user-roles-module-section-1-resident-users {
    display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

.assigned-tasks-info-toggle-wrapper {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

/* NEW UPDATED*/
.info-toggle-btn-assigned-resident {
   padding: 8px 18px;
 /* border: 1px solid transparent;*/
  border: 1px solid #214666;
  border-radius: 20px;
  background-color: transparent;
  color: #214666;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  text-transform: capitalize; 


  padding: 8px 18px; /* edited this line */
}

.info-toggle-btn-assigned-resident:hover {
  background-color: rgba(33, 70, 102, 0.1);
}

.info-toggle-btn-assigned-resident.active {
  background-color: #214666;
  color: #ffffff;
  border: 1px solid #214666;
}



@keyframes popIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



/* NEW UPDATED ADDED */
.filters-animated > * {
  opacity: 0;
  transform: translateX(-20px);
  animation: slideInFromLeft 0.5s forwards;
}

/* NEW UPDATED ADDED */
.filters-animated > *:nth-child(1) { animation-delay: 0.2s; }
.filters-animated > *:nth-child(2) { animation-delay: 0.5s; }
.filters-animated > *:nth-child(3) { animation-delay: 0.8s; }
.filters-animated > *:nth-child(4) { animation-delay: 1.1s; }

/* NEW UPDATED ADDED */
@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* NEW UPDATED ADDED */
@keyframes dropDownFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* NEW UPDATED ADDED */
.add-incident-animated,
.verified-pending-users{
  opacity: 0;
  animation: dropDownFromTop 0.6s ease-out forwards;
  animation-delay: 0.3s;
}