

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 13rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  gap: 5px;
  background-color: rgb(242, 238, 238);
  border: 1px solid #ddd;
  z-index: 1000;
  overflow-y: auto;
}

.contents-side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  
}

.logo-side-bar {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.logo-image-side-bar{
  width: 350px;
  height: 120px;
}




.module-title:hover {
  background-color: #D9D9D9;
}

.module-title:not(:last-child) {
  margin-bottom: 0.50rem;
}


.dropdown-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}

.dropdown-button {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem;
  color: grey;
  font-size: 17px;
  font-weight: bold;
  text-align: center; 
  width: 100%;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: #D9D9D9;
}



.module-title {
  font-size: 17px;
  padding: 1rem;
  color: grey;
  font-weight: bold;
  text-align: center;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.dropdown-button a {
  flex-grow: 1;
  text-align: center;
}

.arrow {
  width: 13px; 
  height: 13px;
  margin-left: auto;
}



.dropdown-container {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 50;
  color: grey;
}


.dropdown-wrapper:hover .dropdown-container {
  display: flex;
}


.dropdown-item-brgy {
  padding: 0.75rem 1rem;
  text-align: center;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
 
}

.dropdown-item-brgy:hover {
  background-color: #c3c2c2;
  color: rgb(255, 255, 255);
}
