

.side-bar-brgyside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 11rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  gap: 5px;
  background-color: #214666;
  border: 1px solid #ddd;
  z-index: 1000;
  overflow-y: auto;
}

.contents-side-bar-brgyside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  
}

.logo-side-bar-brgyside {
  margin-top: 1.5rem;
  border-bottom:  2px solid #24354C;
  padding-bottom: 25px;

}

.logo-image-side-bar-brgyside{
  width: 300px;
  height: 100px;
}




.module-title-brgyside:hover {
  background-color: #24354C;
}

.module-title-brgyside:not(:last-child) {
  margin-bottom: 0.50rem;
}


.dropdown-wrapper-brgyside {
  position: relative;
  width: 100%;
  text-align: center;
}

.dropdown-button-brgyside {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  text-align: center; 
  width: 100%;
  cursor: pointer;
}

.dropdown-button-brgyside:hover {
  background-color: #24354C;
}



.module-title-brgyside {
  font-size: 15px;
  padding: 1rem;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.dropdown-button-brgyside a {
  flex-grow: 1;
  text-align: center;
}

.arrow-brgyside {
  width: 13px; 
  height: 13px;
  margin-left: auto;
  filter: invert(1);
}



.dropdown-container-brgyside {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 50;
  color: grey;
}


.dropdown-wrapper-brgyside:hover .dropdown-container-brgyside {
  display: flex;
}


.dropdown-item-brgy-brgyside {
  padding: 0.75rem 1rem;
  text-align: center;
  color: #2C3E50;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
 
}

.dropdown-item-brgy-brgyside:hover {
  background-color: #24354C;
  color: rgb(255, 255, 255);
}
