/* Sidebar header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 13rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  z-index: 1000;
  overflow-y: auto;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* Main module button */
.module {
  padding: 1rem;
  color: grey;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  cursor: pointer;
  position: relative;

}

.module:hover {
  background-color: #D9D9D9;
}

.module:not(:last-child) {
  margin-bottom: 0.50rem;
}

/* Dropdown Wrapper */
.dropdown-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}

/* Dropdown Button (the module itself) */
.dropdown-button {
  padding: 1rem;
  color: grey;
  font-size: 1rem;
  font-weight: bold;
  text-align: center; 
  width: 100%;
  cursor: pointer;
}

/* Dropdown container */
.dropdown-container {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 50;
  color: grey;
}

/* Show dropdown when hovering over the module */
.dropdown-wrapper:hover .dropdown-container {
  display: flex;
}

/* Dropdown items */
.dropdown-item {
  padding: 0.75rem 1rem;
  text-align: center;
  color: grey;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
 
}

.dropdown-item:hover {
  background-color: #D9D9D9;
  color: white;
}
