.main-container-transactions {
  background-image: url('/Images/bghome.jpg');
    display: flex;
    flex-direction: column;
       height: 100%;
    width: 100%;
}

.headerpic-transactions {
 position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight:bolder;
  overflow: hidden; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('/images/brgyheaderpic.JPG') no-repeat center center/cover;
   background-position: center 55%; 
}

  

/*
.transactions-history-transactions {
  width: 100%;
  max-width: 1200px;
  height: 500px; 
  border-radius: 16px;
  text-align: center;
  overflow: hidden; 
  align-self: center;
  margin: 2rem auto 3rem auto;
  background: #FFFFFF;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;

}
*/

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 0.6s ease-out;
}


.transacntions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}


.table-section-transactions {
  flex: 1; 
  display: flex; 
  flex-direction: column;
  padding: 0;
  margin: 0; 
  width: 100%;
 border: 2px solid rgba(36, 53, 76, 0.7);
  overflow-y: scroll;
  height: 100%;
  max-width: 1500px;
  min-width: 1500px;
  height: 500px; 
  border-radius: 16px;
  text-align: center;
  overflow-x: hidden; 
  align-self: center;
  background: #FFFFFF;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  margin-bottom: 2.5rem;

    
}

.table-section-transactions thead{
  position: sticky;

  background: linear-gradient(to right, #1b3840, #214666, #2c5e73);
  z-index: 10; 
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 

}

.table-section-transactions table {
    width: 1500px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.7);
}



.table-section-transactions th {
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #ddd;
    color:#FFFFFF ;
    cursor: pointer;
    white-space: nowrap;
    
    font-weight: bold;
    font-size: 18px;
}


.table-section-transactions td {
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #ddd;
    color: #000000;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
   
}

.table-section-transactions tr {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.table-section-transactions tbody tr:hover {
  background-color: #c9c4c4; 
  cursor: pointer; 
  transform: scale(1.01);
}



@media (max-width: 768px) {
    .table-section-transactions table {
        display: block;
        overflow-x: auto;
    }

    .transactions-history-transactions {
        padding: 1.5rem;
    }
} 

.no-transactions {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure it takes full height */
  width: 100%; /* Ensure it takes full width */
  text-align: center;
}

.no-transactions p {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
}

.resident-module-filter{
  padding: 8px;
  width: 200px;
  margin-top: 10px;
  border: 1px solid rgba(36, 53, 76, 0.7);
  border-radius: 5px;
  color: #000000;
  text-align: center;
  
}

.resident-module-filter:focus {
  border-color: #f49028;
  outline: none;
  box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
}

.resident-module-filter option {
  color: #000000; 
}

.filter-section-transactions{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  
}

.filter-section-transactions p{
  margin-top: 15px;
  color: rgb(106, 106, 106);
}

.filter-section-transactions-inner {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2rem;
 background-color: #214666;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.filter-section-transactions-type {
  display: flex;
  align-items: center;
  gap: 10px; 
  flex: 1 1 200px; 
  min-width: 150px; 
}

@media (max-width: 600px) {
  .filter-section-transactions-inner {
    gap: 1rem;
  }

  .filter-section-transactions-type {
    justify-content: center;
  }
}

.filter-section-transactions-type p {
  color: #FFFFFF;
  font-weight: bold;
}























/*Specific Incident Transactions*/


.headerpic-specific-transactions {
  position: relative; 
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight:bolder;
  overflow: hidden; 

}

.headerpic-specific-transactions::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/brgyheaderpic.JPG');
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  filter: blur(1.2px); 
  z-index: 1;
}

.headerpic-specific-transactions::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.150); 
  z-index: 2; 
}

.headerpic-specific-transactions > * {
  position: relative;
  z-index: 3; 
}
  


.title-section {
    display: flex;

    margin-bottom: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: grey;
    margin-bottom: 2rem;
}



  .status-dropdown-transactions {
    padding: 0.6rem;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-align: center;
    min-width: 120px;
    display: inline-block;
    margin-left: auto;
  }
  
  .pending {
    background-color: #d4d64f;
    color: white;
    font-size: 15px;
    
  }

  .acknowledged {
    background-color: #d69e4f;
    color: white;
    font-size: 15px;
    
  }

  .rejected {
    background-color: red;
    color: white;
    font-size: 15px;
  }

  .pick-up{
    background-color: #66bec4;
    color: white;
    font-size: 15px;
  }

  .completed{
    background-color: #66c47a;
    color: white;
    font-size: 15px;
  }

.incident-transaction-container {
  background-color: #D8DFE5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .incident-content,
  .emergency-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
    border-radius: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden; 
    margin-bottom: 3rem;
    transition: transform 0.3s ease;
    margin-top: 3rem;
  }
  
  .incident-content:hover,
  .emergency-content:hover {
    transform: translateY(-5px); 
  }
  
  .incident-content-section-1,
  .emergency-content-section-1{
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #618FB9;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .incident-content-section-1 h1 {
    margin-left: 1rem;
    text-transform: uppercase;
  }
  .emergency-content-section-1 h1 {
    margin-left: 1rem;
    text-transform: uppercase;
  }
  
  .back-button {
    background-image: url('/Images/left-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent; 
    transition: transform 0.3s ease;
    filter: brightness(0) invert(1);
  }
  
 
  
  .details-section {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 1.5rem;
    transition: background 0.3s ease;
    justify-content: center;
  }
  
  .details-section:hover {
    background: #D8DFE5
  }
  
  .title {
    width: 25%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title p {
    font-weight: bold;
    font-size: 1.15rem;
    color: #DF7426;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    
  }
  
  .description {
    width: 75%;
    display: flex;
    justify-content: center;
  }
  
  .description p {
    color: #555;
    font-size: 1.20rem;
    line-height: 1.6;
  }

  .proofOfIncident-image,
  .Requirements{
    width: 200px;
    height: 200px;
  }
  
  @media (max-width: 768px) {
    .incident-content {
      width: 90%;
    }
  
    .title, .description {
      width: 100%;
      text-align: left;
      padding: 1rem;
    }
  
    .details-section {
      flex-direction: column;
    }
  }

  .proof-incident-transactions {
    display: flex;
    flex-direction: column;

  }

  .proof-incident-transactions a {
    margin-top: 10px;
    display: inline-block;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;  
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .document-requirements-container{
    width: 50%;
    text-align: center;
  }

  
  .requirements-image{
    width: 100%;
  }
  

  .view-file-link{
    margin-top: 10px;
    display: inline-block;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }


.status-container{
  margin-left: 30%; 
}
