.main-container-transactions {
  background-image: url('/Images/bghome.jpg');
    display: flex;
    flex-direction: column;
       height: 100%;
    width: 100%;
}

.headerpic-transactions {
 position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight:bolder;
  overflow: hidden; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('/images/brgyheaderpic.JPG') no-repeat center center/cover;
   background-position: center 55%; 
}

  

/*
.transactions-history-transactions {
  width: 100%;
  max-width: 1200px;
  height: 500px; 
  border-radius: 16px;
  text-align: center;
  overflow: hidden; 
  align-self: center;
  margin: 2rem auto 3rem auto;
  background: #FFFFFF;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;

}
*/

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 0.6s ease-out;
}


.transacntions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}


.table-section-transactions {
  flex: 1; 
  display: flex; 
  flex-direction: column;
  padding: 0;
  margin: 0; 
  width: 100%;
 border: 2px solid rgba(36, 53, 76, 0.7);
  overflow-y: scroll;
  height: 100%;
  max-width: 1500px;
  min-width: 1500px;
  height: 500px; 
  border-radius: 16px;
  text-align: center;
  overflow-x: hidden; 
  align-self: center;
  background: #FFFFFF;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  margin-bottom: 2.5rem;

    
}

.table-section-transactions thead{
  position: sticky;

  background: linear-gradient(to right, #1b3840, #214666, #2c5e73);
  z-index: 10; 
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 

}

.table-section-transactions table {
    width: 1500px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.7);
}



.table-section-transactions th {
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #ddd;
    color:#FFFFFF ;
    cursor: pointer;
    white-space: nowrap;
    
    font-weight: bold;
    font-size: 18px;
}


.table-section-transactions td {
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #ddd;
    color: #000000;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
   
}

.table-section-transactions tr {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.table-section-transactions tbody tr:hover {
  background-color: #c9c4c4; 
  cursor: pointer; 
  transform: scale(1.01);
}



@media (max-width: 768px) {
    .table-section-transactions table {
        display: block;
        overflow-x: auto;
    }

    .transactions-history-transactions {
        padding: 1.5rem;
    }
} 

.no-transactions {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure it takes full height */
  width: 100%; /* Ensure it takes full width */
  text-align: center;
}

.no-transactions p {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
}

.resident-module-filter{
  padding: 8px;
  width: 200px;
  margin-top: 10px;
  border: 1px solid rgba(36, 53, 76, 0.7);
  border-radius: 5px;
  color: #000000;
  text-align: center;
  
}

.resident-module-filter:focus {
  border-color: #f49028;
  outline: none;
  box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
}

.resident-module-filter option {
  color: #000000; 
}

.filter-section-transactions{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  
}

.filter-section-transactions p{
  margin-top: 15px;
  color: rgb(106, 106, 106);
}

.filter-section-transactions-inner {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2rem;
 background-color: #214666;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.filter-section-transactions-type {
  display: flex;
  align-items: center;
  gap: 10px; 
  flex: 1 1 200px; 
  min-width: 150px; 
}

@media (max-width: 600px) {
  .filter-section-transactions-inner {
    gap: 1rem;
  }

  .filter-section-transactions-type {
    justify-content: center;
  }
}

.filter-section-transactions-type p {
  color: #FFFFFF;
  font-weight: bold;
}























/*Specific Incident Transactions*/

.incident-transaction-container {
  background-image: url('/Images/bghome.jpg');
    display: flex;
    flex-direction: column;
       height: 100%;
    width: 100%;
  }


.headerpic-specific-transactions {
 position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight:bolder;
  overflow: hidden; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('/images/brgyheaderpic.JPG') no-repeat center center/cover;
   background-position: center 55%; 

}




.title-section {
    display: flex;
    margin-bottom: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: grey;
    margin-bottom: 2rem;
}



  .status-dropdown-transactions {
    padding: 0.6rem;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-align: center;
    min-width: 120px;
    display: inline-block;
    margin-left: auto;
  }
  
  .pending {
    background-color: #d4d64f;
    color: white;
    font-size: 15px;
    
  }

  .acknowledged {
    background-color: #4caf50;   
    color: white;
    font-size: 15px;
  }

  .In-Progress {
    background-color: #325bd4;
  }



  .rejected {
    background-color: red;
    color: white;
    font-size: 15px;
  }

  .pick-up{
    background-color: #66bec4;
    color: white;
    font-size: 15px;
  }

  .completed{
    background-color: #66c47a;
    color: white;
    font-size: 15px;
  }


  
  .incident-content,
  .emergency-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
     border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden; 
    margin-bottom: 3rem;
    transition: transform 0.3s ease;
    margin-top: 3rem;
    height: 100%;
  }
  
  .incident-content:hover,
  .emergency-content:hover {
    transform: translateY(-5px); 
  }
  
  .incident-content-section-1{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
background-color: #214666;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .incident-content-section-1 h1 {
    margin-left: 1rem;
    text-transform: uppercase;
  }
  .emergency-content-section-1 h1 {
    margin-left: 1rem;
    text-transform: uppercase;
  }
  

  .section-1-left {
    display: flex;
  }
  .back-button {
    background-image: url('/Images/left-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent; 
    transition: transform 0.3s ease;
    filter: brightness(0) invert(1);
  }
  


  .incident-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
  }


  .incident-main-content-upper {
     padding-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  }



  
  .incidents-transactions-info-toggle-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #e0e0e0;
  width: 50%;
}

.info-toggle-btn {
  background-color: transparent;
  border: none;
  padding: 10px 16px; 
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  color: #2C3E50;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.info-toggle-btn:hover {
  color: #ED7014;
}

.info-toggle-btn.active {
  color: #ED7014;
  border-bottom: 3px solid #ED7014;
  background-color: transparent;
}

.register-section-upper {
    padding-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
  height: 100%;
}

.incident-main-content-lower {
    display: flex;
    gap: 1.5rem;
    margin-top: 20px;
}
 


.incident-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
  overflow-y: auto; 
}

.incident-container-upper {
  display: flex;
  width: 100%;
  
}


.incident-container-lower {
  display: flex;
  justify-content: center;
  width: 100%;
}




.details-section-upload {
 display: flex;
justify-content: center;
align-items: center;
  border-bottom: 2px solid #ddd;
   gap: 1.5rem;
 padding-top: 2rem;
 padding-bottom: 2rem;

  height: 100%; /* important for equal height */
  width: 70%;
  transition: background 0.3s ease;
  box-sizing: border-box;

  }

    
  .details-section-upload:hover {
    background: #D8DFE5
  }
  
  .details-section {
 display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ddd;
  padding: 1rem;
  height: 180;
  min-height: 175px; 
  transition: background 0.3s ease;
  box-sizing: border-box;
  }

    .details-section:hover {
    background: #D8DFE5
  }

  
.incident-main-left,
.incident-main-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.5rem;
  padding: 1rem 2rem;
}

.incident-main-center {
  display: flex;
  justify-content: center;
  align-items: center;
   gap: 1.5rem;
  padding: 1rem 2rem;
  width: 100%;
}
  

  
  .title {
    width: 100%; 
    display: flex;
    justify-content: flex-start;
   
  }
  
  .title p {
    font-weight: bold;
    font-size: 1.25rem;
     color: #2C3E50;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    
  }
  
  .description {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-y: auto;       
  max-height: 100%;     
  padding-right: 0.5rem;  
  }
  
  .description p {
    color: #000000;
    font-size: 1.22rem;
    line-height: 1.6;
  }











  .proofOfIncident-image,
  .Requirements{
    width: 200px;
    height: 200px;
  }
  
  @media (max-width: 768px) {
    .incident-content {
      width: 90%;
    }
  
    .title, .description {
      width: 100%;
      text-align: left;
      padding: 1rem;
    }
  
    .details-section {
      flex-direction: column;
    }
  }

  .proof-incident-transactions {
    display: flex;
    flex-direction: column;

  }

  .proof-incident-transactions a {
    margin-top: 10px;
    display: inline-block;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;  
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .document-requirements-container{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .requirements-image{
    width: 75%;
    height: 80%;
  }
  

  .view-file-link{
    margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }


.status-container{
  margin-left: 30%; 
}


.no-proof-text {
  color: red;
  font-weight: bold;
}




/*
Barangay Response
*/

.details-section-response {
 display: flex;
  flex-direction: column;
  border-top: 2px solid #ddd;
  padding: 1rem;
  height: 170px;
  min-height: 170px; 
  transition: background 0.3s ease;
  box-sizing: border-box;
  }

    .details-section-response:hover {
    background: #D8DFE5
  }

  .details-section-response-upload {
 display: flex;
  border-top: 2px solid #ddd;
  padding: 1rem;
  height: 280px;
  min-height: 280px; 
  transition: background 0.3s ease;
  box-sizing: border-box;
  }

    .details-section-response-upload:hover {
    background: #D8DFE5
  }





  /*
  Document Transaction
  */

  
  .details-section-document {
 display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ddd;
  padding: 1rem;
  height: 140px;
  min-height: 140px; 
  transition: background 0.3s ease;
  box-sizing: border-box;
  }

    .details-section-document:hover {
    background: #D8DFE5
  }