.onlinereq-main-container{
    width: 100%;
    height: 100vh;
    background-color: #F0F2F8; 
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    padding-top: 150px;
    margin-left: 1rem; 
}

.onlinereq-section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.onlinereq-section-1 h1{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.add-announcement-btn {
    background-color:#e56723;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-announcement-btn:hover {
    background-color:#cc591b;
  }

  .onlinereq-section-2{
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 5px; /*ADDDED TANDAAN MO TO DERICK*/
  }


  .onlinereq-section-2-left {
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 5px;
    width: 50%;
    height: 90%;
  }

  
  .onlinereq-section-2-right {
    display: flex;
    gap: 20px;
    padding: 0;
     margin-top: 30px;
    width: 50%;
    height: 90%;
  }


.dropdown-group-onlinereq {
    display: flex;
  flex-direction: column;
  flex: 1;
}

.data-input-group-onlinereq {
    display: flex;
  flex-direction: column;
  flex: 1;
}

.data-input-group-onlinereq label {
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: #214666;
}




/*
For Inputs
*/

.online-services-module-filter{
    padding: 8px;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    border: 1px solid rgba(36, 53, 76, 0.7);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
  }



  .online-services-module-filter:focus {
    border-color: #f49028;
    outline: none;
    box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
  }

  .online-services-module-filter option {
    color: #000000;
  }

  /*
For Dropdowns (SELECT(
  */



.online-services-module-filter-dropdown{
    padding: 11px;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    border: 1px solid rgba(36, 53, 76, 0.7);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
  }



  .online-services-module-filter-dropdown:focus {
    border-color: #f49028;
    outline: none;
    box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
  }

  .online-services-module-filter-dropdown option {
      color: #000000;
  }





  /*
Values
  */

 

.online-services-module-filter-dropdown.has-value {
  color: #000000;
}

.online-services-module-filter.has-value {
  color: #000000;
}






  .section-3{
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 25px;
  }

  .section-3 h1{
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}


.onlinereq-main-section {
    flex: 1; 
    display: flex; 
    flex-direction: column;
    padding: 0;
    margin: 0; /* Remove default margin */
    overflow: auto; /* Allow scrolling if content overflows */
    width: 100%;
    height: 100%; 
    max-height: 70%;
    margin-top: 2rem;
     border: 1px solid rgba(36, 53, 76, 0.7);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-radius: 6px;

      scrollbar-width: thin;
  scrollbar-color:rgba(36, 53, 76, 0.7) transparent; 
}

.onlinereq-main-section thead {
  position: sticky;
  top: 0;
  background-color: #214666; 
  z-index: 10; /* Ensures it stays above other content */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); /* Simulates a fixed border */
  height: 80px;
}

.onlinereq-main-section table {
    width: 100%; /* Ensures the table spans the full width */
    border-collapse: collapse; /* Removes unnecessary spacing between table cells */
}

.onlinereq-main-section td {
    padding: 1rem; 
    text-align: center; 
    border-bottom: 1px solid #ddd;
 color: rgb(44, 42, 42);
    font-weight: normal;
}

.onlinereq-main-section th {
   padding: 1rem; 
    text-align: left; 
    border-bottom: 2px solid #ddd;
    color: #FFFFFF;
    text-align: center;
}



.onlinereq-main-section tbody tr:nth-child(even) {
  background-color: #f0f4f8; /* Softer modern gray-blue tone */
}

.onlinereq-main-section tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Crisp white */
}

.onlinereq-main-section tbody tr:hover { 
   background-color: #d0e4f5 !important; /* Light pastel blue hover */
  cursor: pointer;
  transition: background-color 0.2s ease;
}








/*
SCROLL FOR CHROME ETC
*/

.onlinereq-main-section::-webkit-scrollbar {
  width: 8px;
}

.onlinereq-main-section::-webkit-scrollbar-track {
  background: transparent; 
}

.onlinereq-main-section::-webkit-scrollbar-thumb {
  background-color: rgba(96, 165, 250, 0.5); 
  border-radius: 8px;
  border: 2px solid transparent; 
  background-clip: content-box;  
}

.onlinereq-main-section::-webkit-scrollbar-thumb:hover {
  background-color: rgba(59, 130, 246, 0.7);
}




.actions {
   display: flex;
    gap: 1rem; /* Space between action buttons */
    justify-content: center;
}

.action-view-services {
     border: none;
    cursor: pointer;
    width: 24px;
    height: 24px; 
}

.action-view-services img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(78%) saturate(374%) hue-rotate(81deg) brightness(91%) contrast(92%);
}


.highlight-new-request {
  background-color: #bdf8a0ba !important;
  transition: background-color 0.5s ease;
}

.highlight-new-request:hover {
  background-color: #a6e68d !important; /* slightly darker green on hover */
}

.highlighted-row {
  background-color: #bdf8a0ba !important;
  transition: background-color 0.5s ease;
}











.status-badge {
    padding: 8px 12px;            
    border-radius: 5px;          
    font-size: 13px;              
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    
    width: 100px;       
}

/* Colors for different statuses */

.status-badge.rejected {
    background-color: #e22929;    
}

.status-badge.completed {
    background-color: #4caf50;    
}

.status-badge.pick-up {
    background-color: #be5cb6;    
}

.status-badge.pending {
    background-color: #d4d64f;    
}


.redirection-section-services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
      border: 2px solid rgba(36, 53, 76, 0.7);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  
  .redirection-section-services button {
    padding: 4px 8px;
    border: none;
    background-color: #2C3E50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .redirection-section-services button:hover {
    background-color: #214666;
  }
  
  .redirection-section-services button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .redirection-section-services .active {
     background-color: #214666;
    font-weight: bold;
  }
  







  .no-result-card-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 2px solid #f3c3bf;
    width: 500px;
    border-radius: 1rem;
    background-color: #fff;
    margin-top: 5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.03);
    align-self: center;
  }
  
  .no-result-icon-services {
    width: 46px;
    height: 46px;
    margin-bottom: 0.5rem;
    opacity: 0.75;
  }

  .no-results-services {
    font-weight: bold;
    font-size: 1.25rem;
    color: #e7594e;
  }






