





.viewonlinereq-main-container,
.viewappointment-main-container {

  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  padding: 30px;
  margin-left: 1rem;
  overflow-y: auto; 
 
}

.viewonlinereq-actions-content{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: #f4f2f2;
  border: 2px solid  #ddd;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
}

.viewonlinereq-actions-content-section1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.viewonlinereq-actions-content-section2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


.viewonlinereq-page-title-section-1{
  width: 100%;
}

.viewonlinereq-page-title-section-1 h1{
  font-size: 2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.viewonlinereq-main-content,
.viewappointment-main-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  border-radius: 1rem;
  border: 2px solid  #ddd;
  height: auto;
  margin:  auto; 
  background-color: #f4f2f2;
  overflow: hidden; 
  margin-top: 20px;
}

.viewonlinereq-section-1 {
  display: flex;
  border-bottom: 2px solid #ddd;
  width: 100%;
  padding: 2rem;
  background: #dddbdb95;
  align-items: center;
  justify-content: space-between;
}

.viewonlinereq-section-1 p {
  font-weight: bold;
  color: grey;
  margin-left: 1rem;
  font-size: 1.25rem;
  
}

.emergency-details-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    border-radius: 1rem;
    border: 2px solid  #ddd;
    height: auto;
    margin:  auto; 
    margin-top: 50px;
}

.action-btn-section{
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-btn{
  width: 25px;
  height: 25px;
  filter: invert(1);
}


  .section-1 {
    display: flex;
    border-bottom: 2px solid #ddd;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  .viewonlinereq-main-section1-left{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .viewonlinereq-main-section1-left h1{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
  }

  .left-section{
    display: flex;
    align-items: center;
  }

  .section-1 p {
    font-weight: bold;
    color: grey;
    margin-left: 1rem;
    font-size: 1.25rem;
    
  }

  .viewonlinereq-details-section {
    display: flex;
    border-top: 2px solid #ddd;
  }

  .viewonlinereq-title {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ddd;
    background: #dddbdb33;
  }

  .viewonlinereq-title p {
    font-weight: bold;
    color: grey;
    font-size: 1rem;
  }

  .viewonlinereq-description {
    padding: 2rem;
    width: 80%;
    margin-left: 20px;
  }

  .viewonlinereq-description p {

    color: grey;
    font-size: 1rem;
  }

  
  .resident-id-image{
    width: 100%;
  }
  
  .resident-id-container{
    width: 50%;
    text-align: center;
  }

  .resident-id-container p{
    text-align: left;
  }
  
  .view-image-link{
    margin-top: 10px;
    display: inline-block;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    
  }

  .description {
    padding: 2rem;
    width: 80%;
  }

  .description p {

    color: grey;
    font-size: 1rem;
  }

.requirement-image{
  width: 200px;
  height: 200px;
}



.Actions-Section{
  display: flex;
  gap: 50px;
}

.actions-button{
    padding: 8px 12px;            
    border-radius: 5px;          
    font-size: 13px;              
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    
    width: 200px;  
    height: 50px;
    background-color:#e56723;
}

.actions-button-reject{
    border-radius: 5px;          
    font-size: 13px;              
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    
    width: 200px;  
    height: 50px;
    background-color: #e22929;  
}

.actions-button:hover{
  background-color:#cc591b;
}


.status-dropdown-viewonlinereq {
    padding: 8px 12px;            
    border-radius: 5px;          
    font-size: 13px;              
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    
    width: 200px;   
    height: 50px;   
}

.status-dropdown-viewonlinereq.rejected { 
    background-color: #e22929;    
}

.status-dropdown-viewonlinereq.completed {
    background-color: #4caf50;    
}

.status-dropdown-viewonlinereq.claiming {
  background-color: #3196e8;    
}

.status-dropdown-viewonlinereq.pick-up {
    background-color: #be5cb6;    
}

.status-dropdown-viewonlinereq.pending {
    background-color: #325bd4;    
}

.status-dropdown-viewonlinereq.in-progress {
  background-color: #dd5312;    
}


.status-dropdown-viewonlinereq.new {
  background-color: #f79233;    
}


.verification-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.verify-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  width: 120px;
}

.verify-button.accept {
  background-color: #28a745;
}

.verify-button.reject {
  background-color: #dc3545;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.popup-overlay {
  position: fixed;
  top: 13%;
  right: -3px;
  background: #777575;
  color: white;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 10px solid #403f3e;
}

.popup{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.popup-overlay.show {
  animation: slideIn 0.5s ease-out;
}

.popup-overlay.hide {
  animation: slideOut 0.5s ease-out;
}




/*
new
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
/*

/* NEW */

.main-container-services-onlinereq{
  width: 100%;
  height: 100vh;
  background-color: #F0F2F8; 
  margin-left: 1rem; 
  padding-top: 180px;
  padding-bottom: 3%;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
 }

 .services-onlinereq-redirectionpage-section {
  width: 80%;
  height: 75px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px 0;
}

.services-onlinereq-redirection-buttons {
  width: 220px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 10, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 10px;  
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  padding: 0 8px;
}

.services-onlinereq-redirection-buttons:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

.services-onlinereq-redirection-buttons h1 {
  color: #2C3E50;
  font-weight: bolder;
  font-size: 14px;
}

.services-onlinereq-redirection-icons-section img {
  width: 22px;
  height: 22px;
  transition: transform 0.25s ease;
}

.services-onlinereq-redirection-icons-section {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redirection-icons-info
 {
  width: 22px;
  height: 22px;
  filter: invert(53%) sepia(89%) saturate(2143%) hue-rotate(1deg) brightness(90%) contrast(95%);
}


.services-onlinereq-redirectionpage-section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.services-onlinereq-redirectionpage-section.top-row {
  margin-bottom: 0px;
}

.services-onlinereq-redirectionpage-section.bottom-row {
  margin-top: -10px;
  padding-top: 0px;
  border-top: none;
  box-shadow: none;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.services-onlinereq-main-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  border-radius: 1rem;
  background-color: #ffffff;
  overflow: hidden; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeSlideIn 0.5 ease-out;
  height: 100%;
}

.services-onlinereq-info-container-scrollable{
  width: 100%;
  /*height: 335px;*/
  height: 100%;
  border: 1px solid rgba(44, 62, 80, 0.7);
  border-radius: 8px;
  margin-right: 45px;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  
}

.services-onlinereq-main-section1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #214666;
  padding-top: 20px;
  padding-bottom: 20px;
}



.services-onlinereq-main-section1 h1{
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}

.services-onlinereq-main-section1-left{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.services-onlinereq-header-body{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.services-onlinereq-header-body-top-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.services-onlinereq-info-toggle-wrapper {
  display: flex;
  justify-content: center; 
  gap: 30px;
  margin-bottom: 20px;
  width: 70%;
  align-items: center;
}

.info-toggle-btn {
  background-color: transparent;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  border-bottom: 3px solid #ccc;
  transition: all 0.3s ease;
}

.info-toggle-btn:hover,
.info-toggle-btn.active {
  color: #ff6600;
  border-bottom: 3px solid #ff6600;
}

.services-onlinereq-header-body-bottom-section{
  display: flex;
  flex-direction: row;
  height: 70%;
}

.services-onlinereq-main-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  width: 35%;
}

.services-onlinereq-main-details-section{
  border: 1px solid rgba(44, 62, 80, 0.7);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  text-align: center;
  margin-left: 20px;
  height: 330px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.services-onlinereq-main-details-topsection{
  background-color: #214666;
  padding-top: 10px;
  padding-bottom: 10px;
}

.services-onlinereq-main-details-topsection h1{
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
}

.services-onlinereq-main-details-statussection{
  height: 55px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  padding: 20px;
}

.services-onlinereq-main-details-statussection h1{
  color: #2C3E50;
  font-size: 18px;
  font-weight: bold;
}

.services-onlinereq-status-section-view {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.services-onlinereq-status-dropdown {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 120px;
  padding: 8px 12px;
  font-size: 13px;
}

.services-onlinereq-status-dropdown.rejected { 
  background-color: #e22929;   
  color: white;
  font-size: 12px;
}

.services-onlinereq-status-dropdown.completed {
  background-color: #4caf50;   
  color: white;
  font-size: 12px;
}


.services-onlinereq-status-dropdown.pick-up {
  background-color: #be5cb6;    
  color: white;
  font-size: 12px;
}

.services-onlinereq-status-dropdown.pending {
  background-color: #d4d64f;   
  color: white;
  font-size: 12px;
}

.services-onlinereq-status-dropdown.in-progress {
  background-color: #dd5312;    
  color: white;
  font-size: 12px;
}


.services-onlinereq-main-details-description {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 220px;
  overflow-y: auto;
}

.onlinereq-date-section,
.incident-location-section,
.onlinereq-purpose-section{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
}

.onlinereq-date-section h1,
.incident-location-section h1,
.onlinereq-purpose-section h1{
  color: #2C3E50;
  font-size: 16px;
  font-weight: bold;
}

.onlinereq-date-section p,
.incident-location-section p,
.onlinereq-purpose-section p{
  color: black;
  font-size: 15px;
  font-weight: 200;
  text-align: left;
  padding-left: 40px;
}

.onlinereq-date-topsection,
.incident-loc-topsection,
.onlinereq-purpose-topsection {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.onlinereq-purpose-section-icon {
  width: 30px;
}

.onlinereq-calendar-section-icon {
  width: 17px;
  height: 20px;
  margin-left: 7px;
}

.onlinereq-type-section-icon {
  width: 20px;
  margin-left: 5px;
}

.onlinereq-main-details-icons-section {
  width: 17%;
}

.onlinereq-main-details-title-section {
  width: 80%;
  text-align: left;
}

.services-onlinereq-info-main-container{
  width: 75%;
  height: 100%;
  display: flex;
}



.services-onlinereq-info-main-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.doc-receival-form {
  width: 100%;
  height: 400px;
}

.doc-receival-content {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.doc-receival-content2 {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.services-onlinereq-fields-section,
.services-onlinereq-doc-receival-form-section{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}

.services-onlinereq-doc-receival-form-section-interview{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.services-onlinereq-fields-section p{
  font-size: 15px;
  color: #2C3E50;
  font-weight: bold;
  align-self: flex-start; /* Left-aligns the label */
  margin-left: 20px;
}

.services-onlinereq-fields-section h1{
  font-size: 15px;
  color: #2C3E50;
  font-weight: bold;
  align-self: flex-start; /* Left-aligns the label */
  margin-left: 50px;
  margin-top: 20px;
}

.services-onlinereq-doc-receival-form-section p{
  font-size: 15px;
  color: #2C3E50;
  font-weight: bold;
  align-self: flex-start; /* Left-aligns the label */
  margin-left: 7%;
}

.services-onlinereq-doc-receival-form-section h1{
  font-size: 13px;
  color: #f44336;
  font-weight: bold;
  align-self: flex-start; /* Left-aligns the label */
  margin-left: 7%;
}

.services-onlinereq-doc-receival-form-section h2,
.services-onlinereq-doc-receival-form-section-interview h2{
  font-size: 1.80rem;
  font-weight: bolder;
  text-align: center;
  font-weight: bold;
  color: #214666;
  width: 100%;
}

.services-onlinereq-doc-receival-form-section h3,
.services-onlinereq-doc-receival-form-section-interview h3{
 color: #f44336;
 margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
  width: 100%;
}


.jobseeker-note-payment {
  color: #f44336;
 margin-bottom: 20px;
  font-size: 13px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.jobseeker-note-nopayment {
  color: #0c8332;
 margin-bottom: 20px;
  font-size: 13px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.services-onlinereq-input-field {
  padding: 8px;
  width: 85%;
  margin-top: 10px;
  border: 1px solid rgba(36, 53, 76, 0.7);
  border-radius: 5px;
  color: #000000;
  text-align: left;
}

.services-onlinereq-input-field-remarks-jobseeker {
  padding: 8px;
  width: 85%;
  height: 228px;
  margin-top: 10px;
  border: 1px solid rgba(36, 53, 76, 0.7);
  border-radius: 5px;
  color: #000000;
  text-align: left;
}

.services-onlinereq-input-field:focus {
  border-color: #f49028;
  outline: none;
  box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
  }

  .interview-remarks-field-section {
  padding: 8px;
  width: 85%;
  margin-top: 10px;
  border: 1px solid rgba(36, 53, 76, 0.7);
  border-radius: 5px;
  color: #000000;
  text-align: left;
  height: 180px;
}

.interview-remarks-field-section:focus {
  border-color: #f49028;
  outline: none;
  box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
  }

  .services-onlinereq-content {
    width: 100%;
  }

  .services-onlinereq-content-left-side{
    display: flex;
    flex-direction: column;
    width: 50%;
  } 
  
  .services-onlinereq-content-right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
  } 
  
  .services-onlinereq-content-left-side p,
  .services-onlinereq-content-right-side p {
    font-size: 15px;
    color: #2C3E50;
    font-weight: bold;
  }



.others-image-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}


  .services-onlinereq-verification-requirements-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 60px;
    padding-bottom: 20px;
    width: 100%;
    padding-right: 60px;
  }

  .verification-requirements-label {
    background-color: #1f3b57;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 12px; /* Pushes it closer to the card */
    z-index: 1;
    left: 0px;
    text-align: center;
    width: 250px;
  }

  .services-onlinereq-verification-requirements-container {
    border: 1px solid rgba(44, 62, 80, 0.7);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    text-align: center;
    margin-top: -8px; /* Pulls the card up under the label */
    height: 400px;
  }

  .verification-reqs-pic{
    width: 255px;
    height: 400px;
  }

  .uploaded-picture {
    width: 100%;
    height: 400px;
  }

.confirmation-popup-overlay-services-onlinereq-status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.confirmation-popup-services-onlinereq-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 450px;
  background-color: #f9f9f9;
  border-radius: 20px;
  border: 2px solid rgb(168, 161, 158);
  box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  position: fixed;
}


.confirmation-popup-services-onlinereq-status p{
  color: rgb(97, 97, 97);
}

.successful-icon-popup {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.documentgenerated-popup-overlay-services-onlinereq-status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}


.documentgenerated-popup-services-onlinereq-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 470px;
  background-color: #f9f9f9;
  border-radius: 20px;
  border: 2px solid rgb(168, 161, 158);
  box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  position: fixed;
}


.documentgenerated-popup-services-onlinereq-status p{
  color: rgb(97, 97, 97);
}

.documentgenerated-popup-services-onlinereq-status h2{
  margin-top: 10px;
 color: #f44336;
  font-size: 15px;
}

.notifyrequestor-popup-overlay-services-onlinereq-status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}


.notifyrequestor-popup-services-onlinereq-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
  width: 550px;
  background-color: #f9f9f9;
  border-radius: 20px;
  border: 2px solid rgb(168, 161, 158);
  box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  position: fixed;
}


.notifyrequestor-popup-services-onlinereq-status p{
  color: rgb(97, 97, 97);
}

.notifyrequestor-popup-services-onlinereq-status h2{
  margin-top: 10px;
 color: #f44336;
  font-size: 15px;
}

.yesno-container-add{
  display: flex;
  gap: 20px;
}

.yes-button-add,
.no-button-add{
  padding: 7px 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
  margin-top: 20px;
  width: 120px;
}

.yes-button-add {
  background-color: #4caf50; 
}

.yes-button-add:hover {
  background-color: #3d8c40; 
} 

.no-button-add {
  background-color: #f44336;
}

.no-button-add:hover {
  background-color:  #c2352b; 
} 

.pending-status-word {
  color: #f44336;
}

.popup-overlay-services-onlinereq {
  position: fixed;
  top: 13%;
  right: -3px;
  background: #777575;
  color: white;
  width: 440px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1002;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 10px solid #403f3e;
  }

  .popup-overlay-services-onlinereq {
    background: #777575;
    border-left: 10px solid #403f3e;
  }

  .popup-overlay-services-onlinereq.show {
  animation: slideIn 0.5s ease-out;
}

.popup-overlay-services-onlinereq.hide {
  animation: slideOut 0.5s ease-out;
}

.icon-alert {
  width: 27px;
  height: 27px;
}

.popup-services-onlinereq {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.view-doc-receival-form-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  z-index: 9999;
  background: rgba(0, 0, 0, 0.4);
  padding-right: 25%; 

}

.doc-receival-popup {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 1.5rem;
  max-width: 1000px;
  width: 60%;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Heading */
.doc-receival-popup h2 {
  margin-top: 1rem;
  font-size: 1.50rem;
  font-weight: bolder;
  text-align: center;
  font-weight: bold;
  color: #214666;
}

.doc-receivalform-buttons-section{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

.doc-receivalform-action-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}



.doc-receivalform-action-submit,
.doc-receivalform-action-close {   
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  width: 100px;
}

.doc-receivalform-action-submit{
background-color: #19b035; 
color: white;
}

.doc-receivalform-action-submitt:hover{
  background-color: #179f30;
}

.doc-receivalform-action-close{
  background-color: #f44336; 
  color: white;
}
.doc-receivalform-action-close:hover{
  background-color: #d73c31; 
}

.rejectedion-main-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.box-container-outer-rejection {
  position: relative; 
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
}

.title-remarks-rejected {
  position: absolute;
  left: 50%; 
  top: 30px; 
  transform: translate(-50%, -50%);
  background-color: #1f3b57;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  z-index: 10;
  width: 210px;
  text-align: center;
}

.box-container-rejected {
  position: relative;
  width: 100%;
  border: 1px solid #5a6b7c;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 30px;
  height: 340px;
}

.rejected-input-field {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  color: #000000;
  text-align: left;
  height: 310px;
  margin-top: 20px;
  resize: none;
}

.rejected-input-field:focus {
  outline: none;
  border-color: rgba(36, 53, 76, 0.7); /* keep the same as default or change as needed */
  box-shadow: none;
}

.box-container-OR {
  position: relative;
  width: 85%;
  height: 200px;
  border: 1px solid #5a6b7c;
  border-radius: 10px;
  background-color: #ffffff;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-top: 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
}

.box-container-OR:hover {
 background-color: rgba(245, 143, 88, 0.2);
}

.file-upload-container-OR {
  margin-bottom: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  display: block;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  width: 100%;
  height: 140px;
  overflow-y: auto;
  margin-top: 10px;
  align-self: center;
}

.upload-link {
  color: rgb(245, 143, 88);
  text-decoration: underline;
  cursor: pointer;
}

.file-upload-input {
  display: none;
  }

  .file-name-image-display {
    margin-top: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    }

    .file-name-image-display-indiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      border-bottom: 1px solid #ddd;
      background-color: #F0F2F8;
      border-radius: 5px;
      gap: 10px;
      margin-bottom: 10px; 
    }

    .file-name-image-display-indiv li {
      display: flex;
      flex-grow: 1;
      overflow: hidden; 
      white-space: nowrap; 
      text-overflow: ellipsis; 
    }


        
    .file-preview {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 4px;
      flex-shrink: 0; /* Prevents the image from shrinking */
  }


  .file-name {
    max-width: 150px; /* Adjust this value based on your layout */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    flex-grow: 1; /* Takes up remaining space */
}

.delete-container {
  margin-left: auto;
    flex-shrink: 0; /* Prevents the delete button from shrinking */
}

   
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.delete-icon {
  width: 20px;
  height: 20px;
}






/*
For Reason of reject
*/

@keyframes slideDownFadeIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


  .reasonfor-recject-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000; 
  }




    .reasonfor-reject-confirmation-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 570px;
    width: 50%;
    background: linear-gradient(to bottom right, #ffffff, #f2f5f8);
    border-radius: 20px;
    border: 2px solid rgb(168, 161, 158);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    position: fixed;
    animation: slideDownFadeIn 0.4s ease-out;
  }

  .reasonfor-reject-confirmation-popup h2 {
  font-size: 1.80rem;
  font-weight: bolder;
  text-align: center;
  font-weight: bold;
  color: #214666;
  width: 100%;
}

  .reasonfor-reject-confirmation-popup p{
    color: rgb(97, 97, 97);
  }

  .reject-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }


   .reject-reason-yesno-container{
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  
  .reject-reason-yes-button,
  .reject-reason-no-button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
    margin-top: 20px;
  }
  
  .reject-reason-yes-button {
    background-color: #4caf50; 
  }

  .reject-reason-yes-button:hover {
    background-color: #3d8c40; 
  } 

  .reject-reason-no-button {
    background-color: #f44336;
  }

  .reject-reason-no-button:hover {
    background-color:  #c2352b; 
  } 


  

.box-container-outer-reasonforreject {
  position: relative; 
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-remarks-reasonforreject {
  position: absolute;
  left: 50%; 
  top: 20px; 
  transform: translate(-50%, -50%);
  background-color: #1f3b57;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  z-index: 10;
  width: 50%;
  text-align: center;
}

.box-container-reasonforreject {
  position: relative;
  width: 80%;
  border: 1px solid #5a6b7c;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 30px;
  height: 100%;
}


.reasonforreject-input-field {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  color: #000000;
  text-align: left;
  height: 310px;
  margin-top: 20px;
  resize: none;
}

.reasonforreject-input-field:focus {
  outline: none;
  border-color: rgba(36, 53, 76, 0.7); /* keep the same as default or change as needed */
  box-shadow: none;
}



/*
2nd pop up for rejecting requests
*/

.confirmation-popup-overlay-services-onlinereq-reject {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 

    backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(px);
  transition: background 0.3s ease-in-out;
}



/*
For error pop up
*/


.rejectrequest-error-popup-overlay{
  position: fixed;
  top: 13%;
  right: -3px;
  color: white;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3000;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rejectrequest-error-popup-overlay{
  background: #cc3434;
  border-left: 10px solid #8a0f0f;
}

.rejectrequest-error-popup-overlay.show {
  animation: slideIn 0.5s ease-out;
}

.rejectrequest-error-popup-overlay.hide {
  animation: slideOut 0.5s ease-out;
}

.rejectrequest-popup{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.required-asterisk {
  color: red;
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 20px;
}
