
.viewonlinereq-main-container,
.viewappointment-main-container {

  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  padding: 30px;
  margin-left: 3rem;
  overflow-y: auto; 
 
}

.viewonlinereq-actions-content{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: #f4f2f2;
  border: 2px solid  #ddd;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
}

.viewonlinereq-actions-content-section1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.viewonlinereq-actions-content-section2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


.viewonlinereq-page-title-section-1{
  width: 100%;
}

.viewonlinereq-page-title-section-1 h1{
  font-size: 2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.viewonlinereq-main-content,
.viewappointment-main-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  border-radius: 1rem;
  border: 2px solid  #ddd;
  height: auto;
  margin:  auto; 
  background-color: #f4f2f2;
  overflow: hidden; 
  margin-top: 20px;
}

.viewonlinereq-section-1 {
  display: flex;
  border-bottom: 2px solid #ddd;
  width: 100%;
  padding: 2rem;
  background: #dddbdb95;
  align-items: center;
  justify-content: space-between;
}

.viewonlinereq-section-1 p {
  font-weight: bold;
  color: grey;
  margin-left: 1rem;
  font-size: 1.25rem;
  
}

.emergency-details-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    border-radius: 1rem;
    border: 2px solid  #ddd;
    height: auto;
    margin:  auto; 
    margin-top: 50px;
}

.action-btn-section{
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-btn{
  width: 25px;
  height: 25px;
  filter: invert(1);
}


  .section-1 {
    display: flex;
    border-bottom: 2px solid #ddd;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  .viewonlinereq-main-section1-left{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .viewonlinereq-main-section1-left h1{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
  }

  .left-section{
    display: flex;
    align-items: center;
  }

  .section-1 p {
    font-weight: bold;
    color: grey;
    margin-left: 1rem;
    font-size: 1.25rem;
    
  }

  .viewonlinereq-details-section {
    display: flex;
    border-top: 2px solid #ddd;
  }

  .viewonlinereq-title {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ddd;
    background: #dddbdb33;
  }

  .viewonlinereq-title p {
    font-weight: bold;
    color: grey;
    font-size: 1rem;
  }

  .viewonlinereq-description {
    padding: 2rem;
    width: 80%;
    margin-left: 20px;
  }

  .viewonlinereq-description p {

    color: grey;
    font-size: 1rem;
  }

  
  .resident-id-image{
    width: 100%;
  }
  
  .resident-id-container{
    width: 50%;
    text-align: center;
  }

  .resident-id-container p{
    text-align: left;
  }
  
  .view-image-link{
    margin-top: 10px;
    display: inline-block;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    
  }

  .description {
    padding: 2rem;
    width: 80%;
  }

  .description p {

    color: grey;
    font-size: 1rem;
  }

.requirement-image{
  width: 200px;
  height: 200px;
}



.Actions-Section{
  display: flex;
  gap: 50px;
}

.actions-button{
    padding: 8px 12px;            
    border-radius: 5px;          
    font-size: 13px;              
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    
    width: 200px;  
    height: 50px;
    background-color:#e56723;
}

.actions-button-reject{
    border-radius: 5px;          
    font-size: 13px;              
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    
    width: 200px;  
    height: 50px;
    background-color: #e22929;  
}

.actions-button:hover{
  background-color:#cc591b;
}


.status-dropdown-viewonlinereq {
    padding: 8px 12px;            
    border-radius: 5px;          
    font-size: 13px;              
    color: white;                
    display: inline-block;        
    text-transform: capitalize;   
    text-align: center;    
    width: 200px;   
    height: 50px;   
}

.status-dropdown-viewonlinereq.rejected { 
    background-color: #e22929;    
}

.status-dropdown-viewonlinereq.completed {
    background-color: #4caf50;    
}

.status-dropdown-viewonlinereq.claiming {
  background-color: #3196e8;    
}

.status-dropdown-viewonlinereq.pick-up {
    background-color: #be5cb6;    
}

.status-dropdown-viewonlinereq.pending {
    background-color: #325bd4;    
}

.status-dropdown-viewonlinereq.in-progress {
  background-color: #ffd700;    
}


.status-dropdown-viewonlinereq.new {
  background-color: #f79233;    
}


.verification-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.verify-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  width: 120px;
}

.verify-button.accept {
  background-color: #28a745;
}

.verify-button.reject {
  background-color: #dc3545;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.popup-overlay {
  position: fixed;
  top: 13%;
  right: -3px;
  background: #777575;
  color: white;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 10px solid #403f3e;
}

.popup{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.popup-overlay.show {
  animation: slideIn 0.5s ease-out;
}

.popup-overlay.hide {
  animation: slideOut 0.5s ease-out;
}



/* NEW */

.main-container-services-onlinereq{
  width: 100%;
  height: 100%;
  background-color: #F0F2F8; 
  margin-left: 3rem; 
  padding-top: 11.2%;
  padding-bottom:30px;
 }

 .services-onlinereq-redirectionpage-section {
  width: 80%;
  height: 100px;
  margin:  auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.services-onlinereq-redirection-buttons {
  width: 270px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 10px;  
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.services-onlinereq-redirection-buttons:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

.services-onlinereq-redirection-buttons h1 {
  color: #2C3E50;
  font-weight: bolder;
  font-size: 16px;
}

.services-onlinereq-redirection-icons-section img {
  width: 30px;
  height: 30px;
  transition: transform 0.25s ease;
}

.services-onlinereq-redirection-icons-section {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redirection-icons-info
 {
  width: 26px;
  height: 26px;
  filter: invert(53%) sepia(89%) saturate(2143%) hue-rotate(1deg) brightness(90%) contrast(95%);
}

.services-onlinereq-main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 1rem;
  border: 2px solid rgba(36, 53, 76, 0.7);
  margin:  auto; 
  background-color: #ffffff;
  overflow: hidden; 
  height: 750px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.services-onlinereq-main-section1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #214666;
  padding-top: 20px;
  padding-bottom: 20px;
}

.services-onlinereq-main-section1 h1{
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}

.services-onlinereq-main-section1-left{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.services-onlinereq-header-body{
  display: flex;
  flex-direction: column;
}

.services-onlinereq-header-body-top-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
}

.services-onlinereq-info-toggle-wrapper {
  display: flex;
  justify-content: center; 
  gap: 30px;
  margin-bottom: 20px;
  width: 70%;
  align-items: center;
}

.info-toggle-btn {
  background-color: transparent;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  border-bottom: 3px solid #ccc;
  transition: all 0.3s ease;
}

.info-toggle-btn:hover,
.info-toggle-btn.active {
  color: #ff6600;
  border-bottom: 3px solid #ff6600;
}

.services-onlinereq-header-body-bottom-section{
  display: flex;
  flex-direction: row;
  height: 585px;
}

.services-onlinereq-main-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  width: 35%;
  padding-bottom: 50px;
}

.services-onlinereq-main-details-section{
  border: 1px solid rgba(44, 62, 80, 0.7);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  text-align: center;
  margin-left: 20px;
  height: 300px;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.services-onlinereq-main-details-topsection{
  background-color: #214666;
  padding-top: 10px;
  padding-bottom: 10px;
}

.services-onlinereq-main-details-topsection h1{
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
}

.services-onlinereq-main-details-statussection{
  height: 55px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  padding: 20px;
}

.services-onlinereq-main-details-statussection h1{
  color: #2C3E50;
  font-size: 18px;
  font-weight: bold;
}

.services-onlinereq-status-section-view {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.services-onlinereq-status-dropdown {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 120px;
  padding: 8px 12px;
  font-size: 13px;
}

.services-onlinereq-status-dropdown.rejected { 
  background-color: #e22929;   
  color: white;
  font-size: 15px; 
}

.services-onlinereq-status-dropdown.completed {
  background-color: #4caf50;   
  color: white;
  font-size: 15px; 
}

.services-onlinereq-status-dropdown.claiming {
  background-color: #3196e8;    
  color: white;
  font-size: 15px;
}

.services-onlinereq-status-dropdown.pick-up {
  background-color: #be5cb6;    
  color: white;
  font-size: 15px;
}

.services-onlinereq-status-dropdown.pending {
  background-color: #325bd4;   
  color: white;
  font-size: 15px; 
}

.services-onlinereq-status-dropdown.in-progress {
  background-color: #ffd700;    
  color: white;
  font-size: 15px;
}


.services-onlinereq-status-dropdown.new {
  background-color: #f79233;    
  color: white;
  font-size: 15px;
}

.services-onlinereq-main-details-description {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 180px;
  overflow-y: auto;
}

.onlinereq-date-section,
.incident-location-section,
.onlinereq-purpose-section{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
}

.onlinereq-date-section h1,
.incident-location-section h1,
.onlinereq-purpose-section h1{
  color: #2C3E50;
  font-size: 16px;
  font-weight: bold;
}

.onlinereq-date-section p,
.incident-location-section p,
.onlinereq-purpose-section p{
  color: black;
  font-size: 15px;
  font-weight: 200;
  text-align: left;
  padding-left: 40px;
}

.onlinereq-date-topsection,
.incident-loc-topsection,
.onlinereq-purpose-topsection {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.onlinereq-purpose-section-icon {
  width: 30px;
}

.onlinereq-calendar-section-icon {
  width: 17px;
  height: 20px;
  margin-left: 7px;
}

.onlinereq-type-section-icon {
  width: 20px;
  margin-left: 5px;
}

.onlinereq-main-details-icons-section {
  width: 17%;
}

.onlinereq-main-details-title-section {
  width: 80%;
  text-align: left;
}

.services-onlinereq-info-main-container{
  width: 75%;
  display: flex;
}

.services-onlinereq-info-container-scrollable{
  width: 100%;
  height: 550px;
  border: 1px solid rgba(44, 62, 80, 0.7);
  border-radius: 8px;
  margin-right: 45px;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.services-onlinereq-info-main-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

