.Page {
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white; 
    font-size: 40px; 
    font-weight: bold; 
    position: relative;
    margin-bottom: 50px;
  }

  .Page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/Images/Background.jpeg');
    background-size: cover; 
    background-position: 50% 50%;
    background-repeat: no-repeat; 
    z-index: 1; /* Ensure the overlay appears above the background image */
    filter: blur(2px); /* Adjust the blur intensity */
  }

  .Page > * {
    position: relative;
    z-index: 2; /* Ensure text is above the overlay */
  }

  .main-container {
    background-color: #f7e5d5;
    height: 100%;
    width: 100%;
  }

  /* Captain Section */
  .Captain-section {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    
  }

  .captain-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem; 
    max-width: 450px; /* Larger width */
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
   .captain-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
   }

  .Captain-image {
    width: 350px; 
    height: 350px; 
    border-radius: 10px;
    margin-bottom: 1rem;
    object-fit: cover;
  }

  .Captain-content {
    padding: 1rem;
  }

  .Captain-content .official-name {
    font-size: 2rem; 
    font-weight: bold;
    margin-bottom: 1rem;
    color: orange;
  }

  .Captain-content .official-role {
      font-weight: bold;
      color: grey;
  }

  
  .Officials-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding: 3rem;
  }
  .official-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }

  .official-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
   }

  .official-image {
    width: 350px; /* Slightly smaller image than captain */
    height: 350px;
    border-radius: 10px;
    margin-bottom: 1rem;
    object-fit: cover;
  }

  .official-content .official-name {
    font-size: 1.5rem; /* Smaller font size than captain */
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: orange;
  }

  .official-content .official-role {
     font-weight: bold;
     color: grey;
  }

  @media (max-width: 768px) {
    .Officials-section {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .Officials-section {
      grid-template-columns: 1fr;
    }
  }