.footer-container {
  background-color: #ed7014;
  color: white;
  padding: 10px 40px;
  font-size:16px;
}

.footer-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 300px;
}

.footer-section1{
    margin-top:20px;
    margin-left: 50px;
    width: 430px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}

.footer-logo{
    margin-bottom:30px;
    height: 150px;
    margin-right:20px;
    width: 150px;
}

.footer-section2{
    margin-top: 20px;
  display: block; 
  justify-content: space-between; 
  gap: 20px; 
  width: 400;

}

.footer-section2 h1{
    color: white;
    font-size:30px;
    font-weight: bold;
}

.aboutus-contacticon {
  width: 25px; 
  margin: 20px;
  height: auto; 
  filter: invert(100%);
}

.aboutus-contactinfo-email{
  display: flex; 
  align-items: center; 
}

.aboutus-contactinfo-phone{
  display: flex; 
  align-items: center; 
}

.aboutus-contactinfo-loc{
  display: flex; 
  align-items: center; 
}

/*
.footer-bottom{
    margin-top: 40px;
   text-align:center;
   display: flex;
   align-items: center;
    justify-content: center;
}*/


  .footer-bottom {
  margin-top: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scroll-to-top {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background-color: #d65a00; /* Darker orange */
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #b55300; /* Even darker orange */
}

.scroll-icon {
  width: 30px;
  height: auto;
  filter: invert(100%);
}