
.add-resident-main-container{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 30px;
    margin-left: 3rem; 
    overflow-y: auto; 
}

.addresident-page-title-section-1{
  width: 100%;
}

.addresident-page-title-section-1 h1{
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.add-resident-main-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 95%;
    border-radius: 1rem;
    border: 2px solid  #ddd;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin:  auto; 
    background-color: #f4f2f2;
    margin-top: 20px;
    
}


.add-resident-main-content hr{
  border: none; 
  border-top: 2px solid rgba(0, 0, 0, 0.10);
  margin: 30px 0; 
}

.add-resident-main-section1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-resident-main-section1-left{
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-resident-main-section1 h1{
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}


.back-btn{
  width: 25px;
  height: 25px;
  filter: grayscale(100%) brightness(0%) invert(50%);
}

.NewResident {
    color: grey;
    font-size: 1.5rem;
    font-weight: bold;
}

.actions {
    display: block
}

.action-btn-section{
  display: flex;
  align-items: center;
  gap: 20px;
}

.action-view,
.action-delete,
.action-discard {
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  width: 100px;
}

.action-view {
    background-color: #4caf50; /* Green */
    color: white;
}


.action-delete {
    background-color: #f44336; /* Red */
    color: white;
}


.action-view:hover {
    background-color: #3e8f41; /* Green */
}

.action-edit:hover {
    background-color: #d58102; /* Orange */
}

.action-delete {
    background-color: #f44336; /* Red */
    color: white;
}
.action-delete:hover {
    background-color: #d73c31; /* Red */
}

.action-discard {
  background-color: #de3030;
  color: white;
}

.action-discard:hover {
  background-color: #CA2D2D; 
}

.add-resident-section-2 {
    display: flex;
    width: 100%;
    margin-left: 70px;
}

.add-resident-section-2-left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.add-resident-section-2-left-side p {
   color: grey;
   font-weight: bold;
   font-size: 1rem;
   
}

.fields-container{
  display: flex;
  flex-direction: column;
}

.fields-section{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.fields-section p{
  font-size: 15px;
  color: grey;
  font-weight: bold;
}



/* Toggle switch container */
.active {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem;
  }
  
  /* Switch styles */
  .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 10px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 6px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  
  .status-text {
    font-size: 20px;
    color: grey;
    font-weight: bold;
  }

  .add-resident-input-field {
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
  }

  .add-resident-input-field-disabled{
    background-color: white; 
    color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
  }

  .featuredStatus option {
    color: rgba(0, 0, 0, 0.4); 
  }


  p .required {
    color: red;
    margin-left: 5px;
  }
  

  .add-resident-section-2-right-side {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 40%;
    padding: 3rem;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  .checkboxes-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: 2px solid  #ddd;
  }

  .checkbox-container{
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .checkboxes-container p {
   color: grey;
   font-weight: bold;
   font-size: 1rem;
   margin-bottom: 10px;
   margin-top: 20px;
  }


  .file-upload-container {
    margin-bottom: 40px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease;
    display: block;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    height: 350px; 
    width: 350px;
    overflow-y: auto;
    margin-top: 10px;
  }

  

  .file-upload-container:hover {
    background-color: rgba(245, 143, 88, 0.2);
  }

  .uploadedFiles-container{
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between file items */
    width: 100%; 
  }

  .file-name-image-display {
    margin-top: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    }


    .file-name-image-display-indiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      border-bottom: 1px solid #ddd;
      background-color: #f8f8f8;
      border-radius: 5px;
      gap: 10px;
  }
  
  .file-item {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
  }
  
  .file-preview {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 4px;
      flex-shrink: 0; /* Prevents the image from shrinking */
  }
  
  .file-name {
      max-width: 150px; /* Adjust this value based on your layout */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      flex-grow: 1; /* Takes up remaining space */
  }
  
  .delete-container {
      flex-shrink: 0; /* Prevents the delete button from shrinking */
  }
  
  .delete-button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
  }
  
  .delete-icon {
      width: 20px;
      height: 20px;
  }

  .file-upload-label {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    
  }

  .upload-link {
    color: rgb(245, 143, 88);
    text-decoration: underline;
    cursor: pointer;
  }

  .file-upload-input {
    display: none;
  }

  .file-name-image-display {
    margin-top: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  .file-name-image-display-indiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .filename-image-container {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    overflow: hidden; 
    margin-top:10px;
  }

  .file-name-image-display-indiv li {
    display: flex;
    flex-grow: 1;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }

  .delete-container {
    margin-left: auto; 
  }

  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .delete-icon {
    width: 20px;
    height: 20px;
  }

  .button-container {
    display: flex;
    justify-content: center; 
    margin-top: 50px; 
  }

  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color:rgb(245, 143, 88);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
  }

  .submit-button:hover {
    background-color: #e56723;
  }

  .form-group-button-container {
    padding: 2rem;
  }
  
  .back-button {
    background-image: url('/Images/left-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
  
    width: 40px; 
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .back-button:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
  }
  


.checkbox-label {
  font-size: 1rem; 
  color: grey;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-label input[type="checkbox"] {
  transform: scale(2); 
  margin: 0; 
  cursor: pointer;
  width: 10px;
  height: 10px; 
}

.checkbox-label input[type="checkbox"]:checked {
  background-color: #4caf50; 
  border-color: #4caf50; 
}

.disabled-input {
  background-color: #d3d3d3; 
  color: #555; 
  cursor: not-allowed; 
  opacity: 0.8; 
}

.add-resident-input-field:focus {
  border-color: #f49028;
  outline: none;
  box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
}

.highlight {
  background-color: yellow;
  transition: background-color 3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.popup-overlay {
  position: fixed;
  top: 13%;
  right: -3px;
  background: #777575;
  color: white;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 10px solid #403f3e;
}

.popup{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.popup-overlay.show {
  animation: slideIn 0.5s ease-out;
}

.popup-overlay.hide {
  animation: slideOut 0.5s ease-out;
}


.confirmation-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.076); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.confirmation-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: #f9f9f9;
  border-radius: 20px;
  border: 2px solid rgb(168, 161, 158);
  box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  position: fixed;
  left: 43%; /* Adjust the value */
}

.confirmation-popup p{
  color: rgb(97, 97, 97);
}

.yesno-container{
  display: flex;
  gap: 20px;
}

.yes-button,
.no-button{
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
  margin-top: 20px;
}

.yes-button {
  background-color: #4caf50; 
}

.yes-button:hover {
  background-color: #3d8c40; 
} 

.no-button {
  background-color: #f44336;
}

.no-button:hover {
  background-color:  #c2352b; 
} 
