

.resident-module-main-container{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    padding:30px;
    margin-left: 3rem;
    overflow-y: auto; 
}



.resident-module-main-section {
    flex: 1; 
    display: flex; 
    flex-direction: column;
    padding: 0;
    margin: 0; /* Remove default margin */
    overflow: auto; /* Allow scrolling if content overflows */
    width: 100%;
    height: 100%; 
    max-height: 70%;
    margin-top: 2rem;
    border: 2px solid  #ddd;
}



.resident-module-main-section table {
    width: 100%; /* Ensures the table spans the full width */
    border-collapse: collapse; /* Removes unnecessary spacing between table cells */
}

.resident-module-main-section tbody tr:hover {
  background-color: #e0e0e0; 
  cursor: pointer; 
  transition: background-color 0.2s ease; 
}

.resident-module-main-section td {
    padding: 1rem; 
    text-align: center; 
    border-bottom: 2px solid #ddd;
    color: grey;
    font-weight: lighter;
}

.resident-module-main-section th {
    padding: 1rem; 
    text-align: left; 
    border-bottom: 2px solid #ddd;
    color: grey;
    text-align: center;
    
}

.resident-module-main-section thead {
  position: sticky;
  top: 0;
  background-color: rgb(232, 228, 228); /* Ensures it's visible when scrolled */
  z-index: 10; /* Ensures it stays above other content */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); /* Simulates a fixed border */
  height: 80px;
}


.resident-module-main-section .official-info {
    display: flex;
    align-items: center; /* Center align the image and text */
    gap: 1rem; /* Add space between the image and text */
}

.resident-module-main-section .official-image {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image is properly scaled */
}

.residentmodule-actions {
    display: flex;
    gap: 0.5rem; /* Space between action buttons */
    justify-content: center;
}

.residentmodule-action-view,
.residentmodule-action-edit,
.residentmodule-action-delete {
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 5px;
    transition: background-color 0.2s ease;

}

.residentmodule-action-view {
    background-color: #4caf50; /* Green */
    color: white;
}

.residentmodule-action-edit {
    background-color: #ff9800; /* Orange */
    color: white;
}

.residentmodule-action-delete {
    background-color: #f44336; /* Red */
    color: white;
}
.action-view {
    background-color: #4caf50; /* Green */
    color: white;
}


.residentmodule-action-view:hover {
    background-color: #3e8f41; /* Green */
}

.residentmodule-action-edit:hover {
    background-color: #d58102; /* Orange */
}


.residentmodule-action-delete:hover {
    background-color: #d73c31; /* Red */
}

.resident-module-section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.resident-module-section-1 h1{
   font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
   
}

.add-announcement-btn {
    background-color:#e56723;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-announcement-btn:hover {
    background-color:#cc591b;
  }

  .resident-module-section-2{
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 25px;
  }

  .resident-module-filter{
    padding: 8px;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .resident-module-filter:focus {
    border-color: #f49028;
    outline: none;
    box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
  }

  .resident-module-filter option {
    color: rgba(0, 0, 0, 0.4); 
  }

  
.redirection-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: fit-content;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: #f8f8f8;
    gap: 5px;
  }
  
  .redirection-section button {
    padding: 4px 8px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .redirection-section button:hover {
    background-color: #0056b3;
  }
  
  .redirection-section button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .redirection-section .active {
    background-color: #0056b3;
    font-weight: bold;
  }
  

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

.popup-overlay-module-main-res,
.error-popup-overlay-module-main-res,
.popup-overlay-module-voters,
.popup-overlay-module-kasambahay{
  position: fixed;
  top: 13%;
  right: -3px;
  background: #777575;
  color: white;
  width: 380px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 10px solid #403f3e;
  }

  .popup-overlay-module-main-res,
  .popup-overlay-module-voters,
  .popup-overlay-module-kasambahay{
    background: #777575;
  }

  .error-popup-overlay-module-main-res{
    background: #991e1e;
  }

  .popup-module-main-res,
  .popup-module-voters,
  .popup-module-kasambahay{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .popup-overlay-module-main-res.show,
  .popup-overlay-module-voters.show,
  .popup-overlay-module-kasambahay.show {
    animation: slideIn 0.5s ease-out;
  }
  
  .popup-overlay-module-main-res.hide,
  .popup-overlay-module-voters.hide,
  .popup-overlay-module-kasambahay.hide {
    animation: slideOut 0.5s ease-out;
  }



  .confirmation-popup-overlay-module-main-res,
  .confirmation-popup-overlay-module-voters,
  .confirmation-popup-overlay-module-kasambahay,
  .confirmation-popup-overlay-module-jobseeker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
  }
  
  .confirmation-popup-module-main-res,
  .confirmation-popup-module-voters,
  .confirmation-popup-module-kasambahay,
  .confirmation-popup-module-jobseeker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 450px;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 2px solid rgb(168, 161, 158);
    box-shadow: 0 4px 10px rgba(147, 145, 145, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    position: fixed;
  }
  
  .confirmation-popup-module-main-res p,
  .confirmation-popup-module-voters p,
  .confirmation-popup-module-kasambahay p,
  .confirmation-popup-module-jobseeker p{
    color: rgb(97, 97, 97);
  }

  .confirmation-popup-module-main-res h2,
  .confirmation-popup-module-voters h2,
  .confirmation-popup-module-kasambahay h2,
  .confirmation-popup-module-jobseeker h2{
    margin-top: 10px;
    color: #f44336;
    font-size: 15px;
  }
  
  .yesno-container-module{
    display: flex;
    gap: 20px;
  }
  
  .yes-button-module,
  .no-button-module{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
    margin-top: 20px;
  }
  
  .yes-button-module {
    background-color: #4caf50; 
  }

  .yes-button-module:hover {
    background-color: #3d8c40; 
  } 

  .no-button-module {
    background-color: #f44336;
  }

  .no-button-module:hover {
    background-color:  #c2352b; 
  } 

  .no-result-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 2px solid #f3c3bf;
    width: 500px;
    border-radius: 1rem;
    background-color: #fff;
    margin-top: 5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.03);
    align-self: center;
  }
  

  

  .no-result-icon {
    width: 46px;
    height: 46px;
    margin-bottom: 0.5rem;
    opacity: 0.75;
  }

  .no-results-department {
    font-weight: bold;
    font-size: 1.25rem;
    color: #e7594e;
  }
  
  /* Optional, improves layout when only view is shown */
.center-view-only {
  justify-content: center;
}

.path-section {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.path-section h1 {
  font-size: 1.15rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.path-section h2 {
  font-size: 1.15rem;
  font-weight: bold;
  color: rgba(61, 61, 61, 0.5);
}

.breadcrumb {
  font-size: 1.5rem;
  font-weight: bold;
}

.chevron {
  color: #888;
  margin-left: 10px;
}

.highlighted-row {
  background-color: #bdf8a0ba !important;
  transition: background-color 0.5s ease;
}

.icon-alert {
  width: 27px;
  height: 27px;
}

.successful-icon-popup {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
