.main-form-container{
    background-color: #f7e5d5;
    display: flex;
    flex-direction: column;  
    min-height: 100vh; 
  }
  
  .headerpic {
  position: relative; /* Required for pseudo-elements */
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  overflow: hidden; /* Ensures blur doesn't spill outside */
  }
  
  .headerpic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/header.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: blur(2px); /* Adjust the blur intensity */
  z-index: 1; /* Place the blurred background below the text */
  }
  
  .headerpic > * {
  position: relative;
  z-index: 2; /* Ensure text is above the blurred background */
  }
  
  .form-content{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 2rem;
  margin: auto;
  width: 60%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  }
  
  .form-content hr {
  border: none; 
  border-top: 2px solid rgba(0, 0, 0, 0.20);
  margin-top: 20px;
  margin-bottom: 40px;
  }
  
  .form-title {
  font-size: 30px; 
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: bold;  
  margin-top: 20px;
  margin-bottom: 10px;
  }
  
  .form-subtitle{
    font-size: 20px; 
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;  
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .doc-req-form{
  display: flex;
  flex-direction: column;
  gap: 1px;
  }
  
  .form-group {
  margin-top: 13px;
  margin-bottom: 0px;
  padding: 10px;
  }
  
  .form-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  }
  
  .form-label-reqs{
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  text-align:center;
  }
  
  .form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 2px;
  color: grey;
  accent-color: #f49028; 
}

.form-input:focus {
  border-color: #f49028;
  outline: none;
  box-shadow: 0 0 5px rgba(244, 144, 40, 0.5);
  }
  
  .form-requirements-title{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5); 
  text-align: center;
  font-weight: bold;  
  margin-bottom: 40px;
  }
  
  
  .form-requirements {
  margin-top: 30px;
  text-align: center;
  }
  
  .form-label-description {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  }
  
  .file-upload-container {
  margin-top: 5px;
  margin-bottom: 40px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s ease;
  display: block;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  height: 100%; /* Set a fixed height for better UI experience */
  }
  
  .file-upload-container:hover {
  background-color: rgba(245, 143, 88, 0.2);
  }
  
  .uploadedFiles-container{
  display: block;
  }
  
  .file-upload-label {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  
  }
  
  .upload-link {
  color: rgb(245, 143, 88);
  text-decoration: underline;
  cursor: pointer;
  }
  
  .file-upload-input {
  display: none;
  }
  
  .file-name-image-display {
  margin-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  }
  
  .file-name-image-display-indiv {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;
  border-bottom: 1px solid #ddd;
  }
  
  .filenameimage-container {
  display: flex;
  align-items: center;
  flex-grow: 1; 
  overflow: hidden; 
  margin-top:10px;
  }
  
  .file-name-image-display-indiv li {
  display: flex;
  flex-grow: 1;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  }
  
  .delete-container {
  margin-left: auto; 
  }
  
  .delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  }
  
  .delete-icon {
  width: 20px;
  height: 20px;
  }
  
  .form-radio-group {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 0.5rem; /* Add space between the radio buttons */
    }
  
    .form-radio {
    display: flex;
    align-items: center; /* Align radio button and label */
    gap: 0.5rem; /* Add space between the button and text */
    color: rgba(0, 0, 0, 0.6);
    }
  
  .button-container {
  display: flex;
  justify-content: center; 
  margin-top: 50px; 
  }
  
  .submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:rgb(245, 143, 88);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  width: 350px;
  box-shadow: 0 2px 4px rgba(0, 0, 10, 0.3);
  }
  
  .submit-button:hover {
  background-color: #e56723;
  }
  
  