.main-container-incident-notification {
  display: flex;
  justify-self: center;
  align-items: center; 
  background-color: #D8DFE5;
  height: 80vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  }
  
  .notification-section-incident-notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px; /* Optional for rounded corners */
    width: 75%;
    padding: 2.5rem;
    margin: 5rem;
  }

 .message1-incident-notification {
  color: grey;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.75rem;
 }

 .message2-incident-notification {
   color: grey;
   font-weight: light;
   font-size: 1rem;
   margin-bottom: 1rem;
   width: 80%;
 }

 .image-incident-notification{
 width: 100px;
 height: 100px;
 margin-top: 1.5rem;
 }

 .back-button-incident-notification {
   background-color: #DF7426;
   color: white;
   font-size: 16px;
   font-weight: bold;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-top: 1rem;
   transition: background-color 0.3s ease;
   align-self: center; /* Centers the button */
   width: 350px;
   }

   
   .back-button-incident-notification:hover {
   background-color: #BC5F1C;
   }

   .back-button-incident-notification:active {
   background-color: #bf6a18;
   }